/*----------------------------
    The file upload form
-----------------------------*/


#my_upload_box{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;
		
    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    width:250px;
    padding:30px;
    border-radius:3px;

    margin:200px auto 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{
   /* background-color: #2E3134;
    padding: 40px 50px;*/
    margin-bottom: 30px;
    /*border: 20px solid rgba(0, 0, 0, 0);*/
    border-radius: 3px;
   /* border-image: url('../img/border-image.png') 25 repeat;*/
   /* text-align: center;*/
    text-transform: lowercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    /*background-color:#007a96;
    padding:12px 26px;*/
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
   /* background-color:#0986a3;*/
}

#drop input{
    display:none;
}

#my_upload ul{
    list-style:none;
    margin:0px;
    /*border-top:1px solid #fefefe;
    border-bottom:1px solid #fefefe;*/
}

#my_upload ul li{

    background-color:#efefef;

   /* background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);*/
	float:left;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:3px;
    min-height: 100px;
    margin:2px 3px;
	width:100px;
    position: relative;
}

#my_upload ul li input{
    display: none;
}

#my_upload ul li p{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
	color:#000;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#my_upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#555555;
    display:block;
}

#my_upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#my_upload ul li span{
    width: 15px;
    height: 15px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 67px;
    right: 27px;
    cursor:pointer;
}

#my_upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#my_upload ul li.error p{
    color:red;
}


#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}
