@media only screen and (max-width:768px){
	.call-now-button{ top: 80%; }
	.mainslider_js .owl-prev, .mainslider_js .owl-next{ display: none !important; }
	  .bg_slide, .img_row{ display: none; }
	.f_ox{ font-size: 10px; }
	.mega-dropdown-menu > li > ul > li > a{ color: #FFF; }
	.mega-dropdown-menu .dropdown-header{ color: #f0bb5f; padding:5px 5px 5px 5px !important; font-size: 15px;  }
	.navbar-collapse{ background: #FFF; }
	.content_middle h3{font-size: 24px;line-height: 30px;}
	.services-inner img.smallimg{ margin-bottom: 20px; }
	.servicebox img{ height: auto; } .info-list li.nonedeskto{display: inline-block;float: right;} .header-top-info{display:none}.info_ri{text-align:center;display: none;}.navbar-nav>li>a{padding:10px 10px}.questionanswer{height:auto}.content_middle{width: 62%;}.content_middle p{display:none}.navbar-nav>li>a.phonenumber, .breadcrumb-content h2{display:none} .info-list li{float: none;text-align: center;display: block;} .affix .fg{display: block;background: #008037;text-align: center;font-size: 16px;font-weight: 600;color: #FFF;padding: 5px 4px;}
	.copy__desc{padding: 10px 0px; margin: 0px; font-size: 14px;}
}