
/*--------------------------------------------------
	Content Marquee
---------------------------------------------------*/
	
	.pinned-section {
		position: relative;
		display: table;
		width: 100%;
		margin: 0 auto;
		max-width:1160px;
	}
	
	.full .pinned-section {
		max-width:100%;
	}
	
	.pin-spacer {
		width:50%!important;
	}
	
	.pinned-element {
		position:relative;
		float:left;
		width:50%;
		margin:0;
		box-sizing:border-box;
	}
	
	.pinned-element.left {
		padding-right:30px;
	}
	
	.pinned-element.right {
		padding-left:30px;
	}
	
	.scrolling-element {
		position:relative;
		float:left;
		width:50%;
		margin:0;
	}
	
	.title-moving-outer {
		margin-left: calc(50% - 50vw)!important;
		margin-right: calc(50% - 50vw)!important;
		max-width: 1000%!important;
		width: 100vw!important;
	}
	
	.title-moving-forward, .title-moving-backward {
		margin:15px 0px;
		font-weight: 400;
		clear: both;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		padding:0 6vw;
		box-sizing:border-box;
	}
	
	.content-marquee-outer {
		margin-left: calc(50% - 50vw)!important;
		margin-right: calc(50% - 50vw)!important;
		max-width: 1000%!important;
		width: 100vw!important;
	}
	
	.content-marquee-inner {
		position:relative;
		float:left;
		z-index:0;
	}
	
	.content-marquee {
		white-space: nowrap;
		animation: content-marquee 15s infinite linear;
		padding-left: 1vw;
		color:#000;
	}
	
	.content-marquee:hover {
		animation-play-state: paused;
	}
	
	.light-content .content-marquee, .dark-section .content-marquee {
		color:#fff;
	}
	
	.light-content .light-section .content-marquee {
		color:#000;
	}
  
	.content-marquee:after{
		content: attr(data-text);
		padding-left: 1vw;
	}


	@keyframes content-marquee {
	  0% {
		transform: translateX(0)
	  }
	  100% {
		transform: translateX(-50%)
	  }
	}
	
	
	

/*--------------------------------------------------
	Appearing Items
---------------------------------------------------*/	
	
	.has-animation {
		opacity: 0;
		-webkit-transition:translateY(60px);
		transform: translateY(60px);
	}
	
	.has-animation.has-scale {
		opacity: 0;
		-webkit-transition:translateY(0px) scale(1.05);
		transform: translateY(0px) scale(1.05);
		transform-origin: 50% 0;
		will-change:transform;
	}
	
	.has-animation.has-scale-vertical {
		opacity: 0;
		-webkit-transition:translateY(0px) scaleY(1.1);
		transform: translateY(0px) scaleY(1.1);
		transform-origin: 50% 0;
		will-change:transform;
	}
	
	.has-animation.has-cover {
		opacity: 1;
		-webkit-transition:translateY(0px);
		transform: translateY(0px);
		overflow:hidden;
	}
	
	.has-animation.has-cover::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color:inherit;
		position:absolute;
		top:0;
		right:0;
		z-index:10;
		-webkit-transition: all .6s cubic-bezier(0.54, 0.49, 0.2, 1.01);
		-o-transition: all .6s cubic-bezier(0.54, 0.49, 0.2, 1.01);
		transition: all .6s cubic-bezier(0.54, 0.49, 0.2, 1.01);	
	}
	
	.has-animation.has-cover.animated::after {
		width:0;
	}
	
	.has-animation.has-cover img {
		opacity: 1;
		-webkit-transition:scale(1.05);
		transform:scale(1.05);
		-webkit-transition: all .6s cubic-bezier(0.54, 0.49, 0.2, 1.01);
		-o-transition: all .6s cubic-bezier(0.54, 0.49, 0.2, 1.01);
		transition: all .6s cubic-bezier(0.54, 0.49, 0.2, 1.01);	
	}
	
	.has-animation.has-cover.animated img {
		opacity: 1;
		-webkit-transition:scale(1);
		transform:scale(1);
	}
	
	.has-mask {
		margin-bottom:10px;
	}
	
	.has-mask span {
		display:inline-table;
		overflow:hidden;
	}
	
	.has-mask span > span {
		display: inline-table;
		margin:0!important;
		line-height:inherit;
		height:inherit;
		opacity:0;
		-webkit-transform:translateY(60px);
		transform: translateY(60px);
	}
	
	h1.big-title.has-mask span, h1.big-title.has-mask span > span {
		line-height:inherit;
		height:inherit;
		margin-right:12px;
	}
	
	h1.has-mask span, h1.has-mask span > span {
		line-height:inherit;
		height:inherit;
		margin-right:12px;
	}
	
	h2.has-mask span, h2.has-mask span > span {
		line-height:inherit;
		height:inherit;
		margin-right:10px;
	}
	
	h3.has-mask span, h3.has-mask span > span {
		line-height:inherit;
		height:inherit;
		margin-right:8px;
	}	
	
	h4.has-mask span, h4.has-mask span > span {
		line-height:inherit;
		height:inherit;
		margin-right:7px;
	}
	
	h5.has-mask span, h5.has-mask span > span {
		line-height:inherit;
		height:inherit;
		margin-right:6px;
	}
	
	h6.has-mask span, h6.has-mask span > span {
		line-height:inherit;
		height:inherit;
		margin-right:5px;
	}
	
	.has-indent {
		text-indent:8vw;
	}
	
	.has-hover-image {
		cursor:pointer;
		display:inline-block;
		position:relative;
	}
	
	span.has-hover-image .hover-reveal {
		width: 400px;
		height: 250px;
	}
	
	span.has-hover-image.vertical .hover-reveal {
		width: 300px;
		height: 400px;
	}
	
	.has-opacity {
		opacity:0.4;
	}
	
	


/*--------------------------------------------------
	Underline Link
---------------------------------------------------*/			
	
	a.link {
		display:inline-block;
		position:relative;
	}
	
	.light-content a.link {
		color:#fff;
	}
	
	.light-content .light-section a.link {
		color:#000;
	}
	
	a.link::before {
		content: '';
		position: absolute;
		bottom: 1px;
		left: 0;
		width: 100%;
		height: 2px;
		background: rgba(0,0,0,1);
		transform: scaleX(0);
		transform-origin: right;
		transition: transform .2s ease-out;
	}
	
	h1 a.link::before {
		bottom: 0px;
		height: 3px;
	}
	
	.light-content a.link::before, .dark-section a.link::before {
		background: rgba(255,255,255,1);
	}
	
	.light-content .light-section a.link::before {
		background: rgba(0,0,0,1);
	}
  
    a.link:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}


/*--------------------------------------------------
	Icon Boxes
---------------------------------------------------*/

	.box-icon-wrapper {
		display: table;
		position: relative;
		box-sizing: border-box;
		height: auto;
		width:100%;
	}
	
	.box-icon {
		color: #000;
		position: relative;
		margin-top: 0px;
		margin-bottom: 10px;
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	
	.text-align-center .box-icon {
		margin:auto;
	}
	
	.inline-boxes .box-icon {
		position:absolute;
	}
	
	.box-icon i {
		position:relative;
		margin-bottom:0px;
		font-size:24px;
	}
	
	.light-content .box-icon {
		color:#fff;
	}
	
	.light-content .light-section .box-icon {
		color:#000;
	}
	
	.box-icon:after {
	  content: "";
	  clear: both;
	  display: table;
	}
	
	.box-icon-content {
		position:relative;
		width:100%;
		box-sizing:border-box;
	}
	
	.inline-boxes .box-icon-content {
		padding-left:45px;
	}
	
	.box-icon h5 {
		margin-bottom:5px;
	}
	
	