/* ================= Desktop/Laptop below 1280px  ================= */
@media only screen and (max-width:1279px){
.container{width:100%!important;max-width:100%}
.hd_mid_itms{display:inline-block;padding:0 8px}
.hd_mid_tabs .hd_mid_itms:nth-child(3){padding-right:0}
.call_sec div{margin-right:0}
.top_mm{margin:12px 0 0}
.h_top_sec{padding-right:0}
.top_log{float:right;margin-top:10px}

}

/* ================= Desktop/Laptop below 1152px  ================= */
@media only screen and (max-width:1151px){
.inner_bnr {width:100%;height:100%;}	
.hm_cate_list{margin:20px 0;}
#ban_scroll .item{padding:0 10px;}
.fquick a{margin:0 13px;}
.value-box{width:100%;}
/*NAVIGATION*/
.navbar-light .navbar-nav{ margin-right:0px;margin-bottom:0;}
.navbar-light .navbar-nav>li>a {padding:0.5rem 0.4rem;}
.category_section{padding:40px 0 20px;}
.category_list ul li{width:33.333%;}
.gets h2{width:70%;}
.countern ul li:nth-child(1){border-radius:15px 15px 0 0;vertical-align: top;}
.countern ul li:nth-child(2){border-radius:15px 15px 0 0;vertical-align: top;}
.countern ul li:nth-child(3){border-radius:15px 15px 0 0;vertical-align: top;}
.projects_section h2, .auto_section h2, .deploy_section h2, .feature_section h2,.conver_section h2, .counter h2, .gets h2{font-size:32px;line-height:42px;}
.pro-circle{position:static;width:100%;height:100%;background:#fff;border:0;padding:0;}
.prov-bg{background:#fff;min-height:inherit;}
.pls-1{margin:0 0 0 15px;}
.prs-1{margin:0 15px 0 0;}
}

/* ================= Tablet (Portrait) 768px - 959px ================= */
@media only screen and (max-width: 991px) {
.header-bg {background: url(../images/top-bg.jpg) no-repeat 500px top;}
.logo_area img{max-width:100%;height:auto}
.header_btn{ margin-left:0px;}	
.call_on {padding: 5px 0 0;color: #fff;font-size: 16px;cursor: pointer;}
.call_on a{color:#7fb061}
.call_on i{margin-left:5px}
.call_dis2{width:auto;display:none;position:absolute;z-index:9999;background:#363636;padding:10px;right:0;min-width:300px;top:35px}
.call_sec{text-align:left;padding:0;color:#4d4d4d}
.navbar-nav>.show>a:hover{color: #000;}
.buy_sell{color:#fff; font-size:14px; text-align:right; padding:16px 10px 8px 0}.buy_sell i{ margin-left:5px;}
.hd_mid_tabs .hd_mid_itms:nth-child(3) { margin-left:auto}
.top_mm{display:none;position:absolute;left:15px;background:#fff;z-index:99;}
.top_mm ul li{ float:none; border:0;text-align:left;}
.top_mm ul li a{display:block; border-bottom:1px solid #ccc;color: #444;}
/*Search*/

/* NAV */
.header_top_rgt{margin:30px 0 0 0;}
.navbar{margin:3px 0 0;}
.navbar-light .navbar-nav{ margin:0}
.navbar-light .navbar-toggler {color:rgba(255,255,255,.5);border-color: rgba(255,255,255,.9);z-index:999;right:0px;padding:.2rem .3rem; top:22px;border-width:2px; background:#f1f1f1;position: absolute;}
.navbar-brand{ width:auto; margin:0}.navbar-brand img{ width:100%; height:auto}
.navbar-nav{ display:block}
.navbar-light .navbar-nav>li {margin: 0rem 0rem;}
.navbar-light .navbar-nav>li>a{border-bottom:1px solid #ccc;padding:.5rem 1rem; color:#000; border-radius:0px; text-align:left;font-size:16px;}
.navbar-light .navbar-nav>li>a:hover{color:#fff;background:#4285f4;}
.navbar-light .navbar-nav>li:hover:after, .navbar-light .navbar-nav>li:focus:after{display:none}
.navbar-light .navbar-nav>li.active a:after{display:none}
.navbar-light .navbar-nav>li>a .fa-chevron-down{ float:right; margin-top:1px;}
.navbar-light .navbar-nav>li.active a {color:#fff ;background:#4285f4}
.navbar-light .navbar-nav>li>a i{ line-height:25px;}
.navbar-light .navbar-nav>li>a:nth-child(1){min-height: 37px;}
.navbar-nav .dropdown-menu{ width:100%}
.dropdown-menu{ margin-top:0}
.dropdown-menu>li>a{ padding:0 15px !important}
.navbar .btn-navbar{display:block;padding:5px 9px;margin:1px 0 0 0;border-radius:2px;border:0px solid #fff;background:#4285f4;}
.navbar .btn-navbar .icon-bar{display:block;width:24px;height:2px;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;background-color:#fff;margin:4px 0;transition:.4s;}
.btn-navbar .icon-bar .icon-bar{margin-top:3px}.nav >li >ul.dropdown-menu{background-color:#1cc28a;font:13px/22px  'Lato', sans-serif;}

.navbar{display:block;}
.nav-collapse, .nav-collapse.collapse{background:#fff;overflow:hidden;position:absolute;width:100%;z-index:9999;top:69px;margin:0;padding-left:0;left:auto;right:15px;}
.collapse {display: none !important;}
.collapse.show {display: block !important;}

/* NAV ENDS */	

/*Contact-us*/
.contact_form_outer{ width:100%; padding:30px; float:none}
.contact_details{ position:static; width:100%}

/*Sitemap*/
.sitemap a{width:48%; float:left;}

/*Footer*/
.f_dd_box {margin: 10px 0 20px 0;}
.ft_btm_links{ text-align:center}
.ft_logo{text-align: left;}.ft_logo img{ max-width:100%; height:auto}
.category_list ul li{width:50%;}

.category_section{padding:40px 0 40px;}
.projects_section{padding:40px 0 40px;}
.tab-content{margin:0 0 0 0;}
.cat-ttext{margin:15px 0 20px 0;}
.value {margin:5px 0 0 0;}
.auto_section, .projects_section, .deploy_section, .feature_section, .conver_section, .counter, .get, .proven{padding:40px 0;min-height:inherit;}
.fquick{font-size:14px;}
.fquick a{margin:0 6px;}
.pro-left{width:48%;}
.pro-right{width:48%;}
.prs-2 {margin: 15px 0 0 0;}
.pls-2 {margin: 15px 0 0 0;}
.prs-1 {margin: 15px 0 0 0;}
.pls-1 {margin:15px 0 0 0;}
.pr02 {min-height: 80px;}
.countern{margin:30px 0 0 0;}
}

/* ================= Mobile (Landscape) 480px - 767px ================= */
@media only screen and (max-width:767px) {
h1{ font-size:1.5em; line-height:1em}.cms_area h1{ font-size:1.2em}
.acc_right h2{font-size:1.2em}
.indus .tab_linkd a{margin:0 5%;}
.counter h2 p{display:inline-block;}
.gets h2, .g-text{width:100%;}
.get-bg {background: #cde7ff;padding:30px;min-height:inherit;}
.fquick{padding: 10px 0;margin:0 0 15px 0;font-size:13px;}
.have {font-size: 26px;line-height: 26px;margin: 0 0 10px 0;text-align:center;}
.touch {width: 160px;margin: 0 auto;padding: 3px 24px;display: block;}
/*HEADINGGS*/
.category_section h2,.whats_new_section h2,.f_company_section h2,.f_product_section h2,.blog_section h2,.evnts_section h2,.newsletter_sect h2, .projects_section h2{font-size:28px;line-height:32px}
.cat-htext, .news-htext {font-size:16px;line-height:22px;}
.ft_heading {font-size: 15px;}
/*Buttons*/
.vw-button {font-size: 15px;padding: 5px 20px;}

/*Inner-Testimonials*/
.tab_hider {margin-top: 10px;display: none;}

/* CONTACT US */
.contact_box .col-xs-12{padding:0;}
.contact_form .mt5{margin-top: 0px;}
.contact_form .large{width: 100% !important;}
.contact_form_outer{ padding:10px;}
.contact_box{ padding:4px;}
.contact_form_cont{ width:100%}
.contact_form_cont h2{ font-size:24px; line-height:30px;}
.contact_details h2{ font-size:24px; line-height:30px;}
/* CONTACT US */
.sitemap a{width:100%; float:none; margin:5px 0px;}
.sitemap .fs18{font-size: 16px;}
.db-600{display:block;}
.breadcrumb_bg{ display:none;}

.footer_bg1 {padding: 0 0 0;}
.ft_btm_links span{padding: 0 5px;}
.f_dd_box{display:none; margin:0px 0px; padding:10px;}
.dd_next{padding:10px 0px; height:40px;background:url(../images/pls.png) no-repeat 100% 8px;cursor:pointer;border-bottom: 1px dashed #878787;}
.dd_next_act{background:url(../images/mns.png) no-repeat 100% 8px;border-bottom: 1px solid #e4e4e4;}
.ft_bg1 span{font-size:14px;margin:0 12px 0 9px;}
.ft_btm_links a{padding:3px 0 10px;font-size: 12px;}.ft_btm_links{ margin-bottom:0.5em}
.footer_bg1{ border:0}
footer{padding:0.2em 0 0 0;}
.follows, .follow_link, .download-pdf{text-align:center;}
.contact_dtls .adds{margin:0px 0 0 0;}
.indus h2{font-size:18px;line-height:22px;}
.down-arrow{bottom:25px;}
.btn-success{margin:-15px 0 0 0;}
}
@media only screen and (max-width:684px) {.indus .tab_linkd a{margin:0 4.1%;}}
@media only screen and (max-width:667px) {
.inner_bnr {height:auto}
.indus .tab_linkd a{margin:0 4.2%;}
/* CMS AREA */
.mid_area{padding:20px 0px;}
/* CMS AREA ENDS */

.c_address span{ width:100%; font-size:13px;}
.c_address span>b{ margin-right:7px;}
.contact_add {font-size:13px;}
.contact_box .fs16{ font-size:14px;}
.sitemap .fs18{font-size: 15px;}

/*CMS*/
.cms_pc{ float:none; margin:5px auto; display:block;}
}

@media only screen and (max-width:515px) {
.main-banner{background:#0a3f5f;}
.hd_mid_itms{ padding:0 6px;cursor:pointer;}.header_top_rgt span{ margin-bottom:5px; margin-left:0}
.srch_sect .srch_col {width:100%;margin:5px 0;float:none;}
.navbar{ margin-bottom:0px;}
.navbar-brand{ margin:auto; padding:5px 0;}
.navbar .btn-navbar{top:-48px;}
}


/* ================= Mobile (Portrait) below 480px  ================= */
@media only screen and (max-width:479px) {
.header-bg{background:none;}
.header_top_strip:before{display:none;}
.logo_area{ text-align:center;margin: 15px 0 0;}
.logo_area img{ max-width:100%; height:auto}
.language{ width:170px}
.header_top_rgt {margin: 15px 0 0 0;}
.nav-collapse, .nav-collapse.collapse {top: 52px;}
.call_sec div {float:none;}
.project_img figure{width:145px;height:79px;}
.call_dis2{width:100%;}
.call_sec div:nth-child(2){margin:5px 0 5px 0;}
.call_sec div:nth-child(3){margin:10px 0 0 0;}
.call_sec:nth-chil(1) a{padding-left:0; margin: 0 7px 0 0;}
.form-control {display: block; width: 100%; padding:10px 12px; font-size: 11px; line-height: 1.42857143; color: hsl(0, 0%, 33%); background-color: hsl(0, 0%, 100%); background-image: none; border: 1px solid hsl(0, 0%, 80%); border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075); box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;outline:none;}
.down-arrow img{width:50%;}
.down-arrow{bottom:0;}
.gal_list li {width:100%;margin: 0 0 15px 0;}
.h_top_sec .social-icons a {width: 24px;height:24px;}
.h_top_sec .social-icons i{line-height:24px;font-size: 12px;}
.category_list ul li{width:100%;}
.category_section h2, .whats_new_section h2, .f_company_section h2,.f_product_section h2,.blog_section h2,.evnts_section h2,.newsletter_sect h2, .projects_section h2, .deploy_section h2,.prov-bg h2, .auto_section h2{font-size:22px;line-height:26px}
.projects_section h2, .auto_section h2, .deploy_section h2, .feature_section h2,.conver_section h2, .counter h2, .gets h2{font-size:18px;line-height:22px}
.cat-ttext {font-size:14px;line-height:22px;}
.value-box-in{font-size:15px;line-height:22px;}
.cate_ttl-text{font-size:15px;line-height:24px;height:auto;}
.cate_w {padding: 15px 20px 25px;}
.proj_we .sec2 {font-size: 18px;}
.proj_we .text {font-size: 15px;line-height: 22px;}
.feature-box {padding: 20px 25px;}
.feature-title {font-size: 18px;margin: 15px 0 0 0;height: auto;}
.feature-text {font-size: 16px;line-height: 22px;margin: 5px 0 0 0;height: auto;}
.auto_section, .projects_section, .deploy_section, .feature_section, .conver_section, .counter, .get, .proven{padding:20px 0;min-height:inherit;}
.c-text {margin:0 0 45px 0;font-size: 14px;line-height: 22px;}
.pr-bl2{float: left;}
.pr-bl1 {padding: 0 0 0 15px;text-align:left;}
.pl-bl1{padding: 0 0 0 15px;}
.pr01 {font-size: 18px;}
.pr02 {font-size: 15px;line-height: 22px;margin:5px 0 0 0;min-height:inherit;}


.auto_section .mt-4 {margin-top: 10px !important;}
.conver li {font-size: 16px;}
/*footer*/
.ft_logo{text-align:center; margin-top:15px;}
.copy_txt{text-align:center}
.follow_sec{text-align:center}
.developed_txt{ text-align:center}.developed_txt b{ float:none; margin:5px 0; display:block}
.app_container .vw_btn{}
.contact_add p{width:70%;}
.proj_we .text{height:auto;}

.indus .tab_linkd a{font-size:14px;}
.indus .tab_linkd img{width:50%;margin:5px auto 0;}
.indus .tab_linkd a.act span{margin: 0 auto 5px;}
.indus .tab_linkd a span{margin: 0 auto 5px;}
.indus .tab_linkd a {margin:0 0.2%;}
.ft_logo{text-align:center;float: none;}
.copy_txt {text-align: center;}
.developed_txt {text-align: center;}
.developed_txt b{margin-top:0;float:none;margin-left:0;display:block;}

.pro-left{width:100%;}
.pro-right{width:100%;}
.prs-2 {margin: 15px 0 0 0;}
.pls-2 {margin: 15px 0 0 0;}
.prs-1 {margin: 15px 0 0 0;}
.pls-1 {margin:15px 0 0 0;}
.countern ul li{width: 32%;}
.countern .num{font:800 28px/36px 'Lato',Arial,Helvetica,sans-serif;margin: 20px 0 5px 0;}
.countern .num:after{font-size: 28px;line-height: 36px;}
.countern .sub-texts {font: 400 12px 'Lato',serif;}
.countern ul li:nth-child(1){min-height:105px;border-radius:15px;}
.countern ul li:nth-child(2){min-height:105px;border-radius:15px;}
.countern ul li:nth-child(3){min-height:105px;border-radius:15px;}
.g-text{margin:15px 0;    font-size: 15px;}
.vw-button1 {font-size: 12px;line-height: 30px;padding:5px 18px;}
.vw-button2 {font-size: 12px;line-height: 30px;padding:5px 18px;margin-left:10px;}
.get-bg {padding: 25px;}
}