@media only screen and (max-width:768px){
   .innerlogo img{ width: 120px;}
	.breadcumlisting{ padding: 10px 0px; }
	.navbar-brand h1 img {width: 140px;padding: 15px;}
	.mobile_menu_click {
    display: inline-block;
    position: absolute;
    right: 15px;
    z-index: 999;
    top: 15px;
}
iframe{ margin-bottom: 20px; }
.portfolio-area .portfolio_item{ width: 49%; }.portfolio-area .portfolio_item .image-block{padding: 0px; margin: 0px;}
.portfolio_div{ padding: 15px 0px; }
.portfolio-area .portfolio_item .image-block img{ height: 200px; }
.homepage.innerpages{    padding-top: 80px;
    background: #2c220e;}
.homepage.innerpages .innerlogo{ top: 3px; }
.homepage.innerpages .mobile_menu_click{ top: 0px; }
.homepage.innerpages .opennav_div{ margin: 24px 0px; }
.sloganmiddle{ bottom: 40%; width: 90%; }
.sloganmiddle h1{ font-size: 36px; }
.navbar-brand{ top: 15px; }
	.header-area{ display: none; }
	.call-now-button{ top: 70%; right: 20%; }
	.mainslider_js .owl-prev, .mainslider_js .owl-next{ display: none !important; }
	  .bg_slide, .img_row{ display: none; }
	.f_ox{ font-size: 10px; }
	.mega-dropdown-menu > li > ul > li > a{ color: #FFF; }
	.mega-dropdown-menu .dropdown-header{ color: #f0bb5f; padding:5px 5px 5px 5px !important; font-size: 15px;  }
	.navbar-collapse{ background: #FFF; }
	.content_middle h3{font-size: 24px;line-height: 30px;}
	.services-inner img.smallimg{ margin-bottom: 20px; }
	.servicebox img{ height: auto; } .info-list li.nonedeskto{display: inline-block;float: right;} .header-top-info{display:none}.info_ri{text-align:center;display: none;}.navbar-nav>li>a{padding:10px 10px}.questionanswer{height:auto}.content_middle{width: 62%;}.content_middle p{display:none}.navbar-nav>li>a.phonenumber, .breadcrumb-content h2{display:none} .info-list li{float: none;text-align: center;display: block;} .affix .fg{display: block;background: #008037;text-align: center;font-size: 16px;font-weight: 600;color: #FFF;padding: 5px 4px;}
	.copy__desc{padding: 10px 0px; margin: 0px; font-size: 14px;}
	
	.container.he100{ width: 100%; }
	.services_ccco h3{ font-size: 30px; }
}

@media only screen and (min-width:991px){
   .pd50{padding: 0 80px;}
}