@media only screen and (max-width:768px){
.innerlogo img {
    width: 164px;
    margin: -6px 0 0 0;
}
.breadcumlisting {
    padding: 10px 0px;
    z-index: 222;
    position: relative;
}
	.navbar-brand h1 img {width: 140px;padding: 15px;}
	.mobile_menu_click {
    display: inline-block;
    position: absolute;
    right: 15px;
    z-index: 999;
    top: 15px;
}
iframe{ margin-bottom: 20px; }
.portfolio-area .portfolio_item{ width: 49%; }.portfolio-area .portfolio_item .image-block{padding: 0px; margin: 0px;}
.portfolio_div{ padding: 15px 0px; }
.portfolio-area .portfolio_item .image-block img{ height: 200px; }
.homepage.innerpages{    padding-top: 80px;
    background: #2c220e;}
.homepage.innerpages .innerlogo{ top: 3px; }
.homepage.innerpages .mobile_menu_click{ top: 0px; }
.homepage.innerpages .opennav_div{ margin: 24px 0px; }
.sloganmiddle{ bottom: 160px; width: 90%; }
.sloganmiddle h1{ font-size: 36px; }
.navbar-brand{ top: 15px; }
	.header-area{ display: none; }
	.call-now-button{ top: 70%; right: 20%; }
	.mainslider_js .owl-prev, .mainslider_js .owl-next{ display: none !important; }
	  .bg_slide, .img_row{ display: none; }
	.f_ox{ font-size: 10px; }
	.mega-dropdown-menu > li > ul > li > a{ color: #FFF; }
	.mega-dropdown-menu .dropdown-header{ color: #f0bb5f; padding:5px 5px 5px 5px !important; font-size: 15px;  }
	.navbar-collapse{ background: #FFF; }
	.content_middle h3{font-size: 24px;line-height: 30px;}
	.services-inner img.smallimg{ margin-bottom: 20px; }
	.servicebox img{ height: auto; } .info-list li.nonedeskto{display: inline-block;float: right;} .header-top-info{display:none}.info_ri{text-align:center;display: none;}.navbar-nav>li>a{padding:10px 10px}.questionanswer{height:auto}.content_middle{width: 62%;}.content_middle p{display:none}.navbar-nav>li>a.phonenumber, .breadcrumb-content h2{display:none} .info-list li{float: none;text-align: center;display: block;} .affix .fg{display: block;background: #008037;text-align: center;font-size: 16px;font-weight: 600;color: #FFF;padding: 5px 4px;}
	.copy__desc{padding: 10px 0px; margin: 0px; font-size: 14px;}
	
	.container.he100{ width: 100%; }
	.services_ccco h3{ font-size: 30px; }

/**070922**/
	
	.innerslider .owl-prev, .innerslider .owl-next {top: 34%;}
	.navbar-brand {
    top: -9px;
}
	.main-slider-top .innerlogo img {
    width: 190px;
}
	.opennav_div {
    margin: 18px 0 0;
}
	.sloganmiddle ul li a {
    text-transform: capitalize;
    padding-right: 11px;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 11px;
    font-weight: 400;
    color: #FFF;
    border-right: 2px solid #FFF;
    margin-right: 11px;
    font-family: Bauhausb Medium;
    text-shadow: 4px 3px 3px #000000bd;
}

	.slider_effect .slider_loo img {
    height: auto;
    width: 150px;
}
	
	.homepage.innerpages .innerlogo {
    top: -8px;
}
	.services_ccco h2 {
    font-size: 30px !important;
    padding:0;
}
	.comments-space p {
    text-align: left !important;
}
	
	.services_ccco {
    padding: 0 25px;
}
	.comments-space, .comments-space1 {max-width: 100%;     padding: 0 15px 0 0;     }
	
	.works .owl-prev, .works .owl-next {    top: 45%;}
}

@media only screen and (min-width:991px){
   .pd50{padding: 0 80px;}
}

@media screen and (max-width:640px){
.sloganmiddle ul li a {
    text-transform: capitalize;
    padding-right: 15px;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 400;
    color: #FFF;
    border-right: 2px solid #FFF;
    margin-right: 15px;
    font-family: Bauhausb Medium;
    text-shadow: 4px 3px 3px #000000bd;
}
	.sloganmiddle {
    bottom: 80px;
    width: 90%;
}
}