@media (min-width: 768px) and (max-width:991px){
    li.lastchild.lat{display: none;}
    .comments-space, .comments-space1{max-width:90%;}
}
@media only screen and (max-width:767px){
.innerlogo img {
    width: 164px;
    margin: -6px 0 0 0;
}
.breadcumlisting {
    padding: 10px 0px;
    z-index: 222;
    position: relative;
}
	.navbar-brand h1 img {width: 140px;padding: 15px;}
	.mobile_menu_click {
    display: inline-block;
    position: absolute;
    right: 15px;
    z-index: 999;
    top: 15px;
}
iframe {
    margin-bottom: 20px;
}
	
	.portfolio_div iframe {
    margin-bottom: 20px;
    width: 100% !important;
    height: 500px;
}
	
	.innerlogo img{width: 164px;}
	

	.comments-space, .comments-space1 {
    font-size: 23px;
    font-weight: 400;
    color: #FFF;
    max-width: 70%;
    margin: auto auto 0 auto;
    line-height: 32px;
    min-height: 50px;
    height: auto;
    text-shadow: 4px 3px 3px #000000bd;
    max-height: 430px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 30px 0 0;
}
.portfolio-area .portfolio_item{ width: 49%; }.portfolio-area .portfolio_item .image-block{padding: 0px; margin: 0px;}
.portfolio_div{ padding: 15px 0px; }
.portfolio-area .portfolio_item .image-block img{ height: 200px; }
.homepage.innerpages{    padding-top: 80px;
    background: #2c220e;}
.homepage.innerpages .innerlogo{ top: 3px; }
.homepage.innerpages .mobile_menu_click{ top: 0px; }
.homepage.innerpages .opennav_div{ margin: 24px 0px; }
.sloganmiddle{ bottom: 160px; width: 90%; }
.sloganmiddle h1{ font-size: 36px; }
.navbar-brand{ top: 15px; }
	.header-area{ display: none; }
	.call-now-button {
    left: auto;
    top: auto;
    right: 68px;
    bottom: 110px;
}
.scrollup{right:20px;}
	.mainslider_js .owl-prev, .mainslider_js .owl-next{ display: none !important; }
	  .bg_slide, .img_row{ display: none; }
	.f_ox{ font-size: 10px; }
	.mega-dropdown-menu > li > ul > li > a{ color: #FFF; }
	.mega-dropdown-menu .dropdown-header{ color: #f0bb5f; padding:5px 5px 5px 5px !important; font-size: 15px;  }
	.navbar-collapse{ background: #FFF; }
	.content_middle h3{font-size: 24px;line-height: 30px;}
	.services-inner img.smallimg{ margin-bottom: 20px; }
	.servicebox img{ height: auto; } .info-list li.nonedeskto{display: inline-block;float: right;} .header-top-info{display:none}.info_ri{text-align:center;display: none;}.navbar-nav>li>a{padding:10px 10px}.questionanswer{height:auto}.content_middle{width: 62%;}.content_middle p{display:none}.navbar-nav>li>a.phonenumber, .breadcrumb-content h2{display:none} .info-list li{float: none;text-align: center;display: block;} .affix .fg{display: block;background: #008037;text-align: center;font-size: 16px;font-weight: 600;color: #FFF;padding: 5px 4px;}
	.copy__desc{padding: 10px 0px; margin: 0px; font-size: 14px;}
	
	.container.he100{ width: 100%; }
	.services_ccco h3{ font-size: 30px; }

/**070922**/
	
	.innerslider .owl-prev, .innerslider .owl-next {top: 34%;}
	.navbar-brand {
    top: -9px;
}
	.main-slider-top .innerlogo img {
    width: 190px;
}
	.opennav_div {
    margin: 18px 0 0;
}
	.sloganmiddle ul li a {
    text-transform: capitalize;
    padding-right: 11px;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 11px;
    font-weight: 400;
    color: #FFF;
    border-right: 2px solid #FFF;
    margin-right: 11px;
    font-family: Bauhausb Medium;
    text-shadow: 4px 3px 3px #000000bd;
}

	.slider_effect .slider_loo img {
    height: auto;
    width: 100%;
}
	
	.homepage.innerpages .innerlogo {
    top: -8px;
}
	.services_ccco h2 {
    font-size: 30px !important;
    padding:0;
}
	.comments-space p {
    text-align: left !important;
}
	
	.services_ccco {
    padding: 0 25px;
}
	.comments-space, .comments-space1 {max-width: 100%;     padding: 0 15px 0 0;     }
	
	.works .owl-prev, .works .owl-next {    top: 45%;}
	
	.slider_loo {
    width: calc(100% / 4);
		margin: 0;
}
.sloganmiddle ul li a {
    text-transform: capitalize;
    padding-right: 0;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #FFF;
    border-right: 0;
    margin-right: 15px;
    text-shadow: 4px 3px 3px #000000bd;
    background: rgba(0,0,0,0.7);
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
    display: block;
    line-height: normal;
}
.services_ccco span {
    font-size: 20px !important;
    font-weight: 500;
    background: transparent !important;
}
.services_ccco div {
    display: inline;
}
.comments-space p {
    font-size: 16px;
    display: inline;
    line-height: 8px !important;
}
section#aboutus,
section#aboutus .container.he100,
section#aboutus .row.he100,
section#aboutus .row.he100 .he100 {
    height: auto;
}
section#aboutus .services_ccco
{
    display: block;
    text-align: center;
    clear: both;
    position: relative;
    left: 0;
    transform: translate(0%, 0%);
    top: 0;
    width: 100%;padding: 0
}
.services_ccco h2{font-size: 26px !important;margin-top: 20px !important;}
section#story12 .services_ccco {
    display: block;
    text-align: center;
    clear: both;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
}
.services_ccco span {
    font-size: 16px !important;
    font-weight: 500;
    background: transparent !important;
}
.services_ccco span strong{font-weight: 400 !important;}
.services_ccco span strong br {
    display: none;
}
section#Clients {
    background: #eee;
}
.slider_loo {
    width: calc(100% / 4);
    margin: 0;
    border-right: 1px solid #eee;
}
.width_lll {
    padding: 0 !important;
}
section#Clients{padding: 40px 0 0;}
footer#footer .col-md-3.col-xs-12.col-sm-3 {
    background: #96833f;
    padding: 30px 30px;
}
.btntbn{width:100%;background-color: #000;}
footer{padding-bottom: 0 !important}
.portfolio-area .portfolio_item {
    width: 100%;
}
}

@media only screen and (min-width:991px){
   .pd50{padding: 0 80px;}
}

@media screen and (max-width:640px){
.sloganmiddle ul li a {
    text-transform: capitalize;
    padding-right: 15px;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 400;
    color: #FFF;
    border-right: 2px solid #FFF;
    margin-right: 15px;
    font-family: Bauhausb Medium;
    text-shadow: 4px 3px 3px #000000bd;
}
	.sloganmiddle {
    width: 90%;
}


/**131022***/
.mainslider_js.owl-carousel .owl-item img, .slider-area .slider-fluid, .mainslider_js, .mainslider_js .owl-stage-outer, .mainslider_js .owl-stage, .slider-area {
    height: 77vh;
}
	
.services_ccco h5.p1  {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    display: block;
    padding: 0 15px 0 0;
}
.mainslider_js.owl-carousel .owl-item img, .slider-area .slider-fluid, .mainslider_js, .mainslider_js .owl-stage-outer, .mainslider_js .owl-stage, .slider-area {
    height: 70vh;
    /* background-size: cover !important; */
    object-fit: cover;
    object-position: right;
}
}

@media screen and (max-width:400px){ 
	.sloganmiddle h1 {
    font-size: 26px;
    margin: 0 0 15px 0;
}
.sloganmiddle ul li a {
    text-transform: capitalize;
    padding-right: 15px;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #FFF;
    border-right: 2px solid #FFF;
    margin-right: 15px;
    font-family: Bauhausb Medium;
    text-shadow: 4px 3px 3px #000000bd;
}


.mainslider_js.owl-carousel .owl-item img, .slider-area .slider-fluid, .mainslider_js, .mainslider_js .owl-stage-outer, .mainslider_js .owl-stage, .slider-area {
    height: 77vh;
}
.mainslider_js.owl-carousel .owl-item img, .slider-area .slider-fluid, .mainslider_js, .mainslider_js .owl-stage-outer, .mainslider_js .owl-stage, .slider-area {
    height: 70vh;
    /* background-size: cover !important; */
    object-fit: cover;
    object-position: top right;
    /* width: 100%; */
    /* max-width: 100%; */
}
}

@media (max-width:767px){
    section#story31{background: url(https://jbaagency.sinontechs.com/uploaded_files/thumb_cache/thumb_1300_867_jba-service-web-copy11.jpg) !important}
    section#story42,section#story41{background: url(https://jbaagency.sinontechs.com/uploaded_files/thumb_cache/thumb_1300_867_jba-service-interior-copy111.jpg) !important;background-size: cover !important;}
    
    section#story21{background: url(https://jbaagency.sinontechs.com/uploaded_files/thumb_cache/thumb_1300_867_jba-service-design-copy11.jpg) !important}
/*    section#story11{background: url(https://jbaagency.sinontechs.com/uploaded_files/thumb_cache/thumb_1300_867_jba-service-event-copy1.jpg) !important}*/
     section#story52,section#story51{background: url(https://jbaagency.sinontechs.com/uploaded_files/thumb_cache/thumb_1300_867_jba-videography-copy1111.jpg) !important}
    section#story32,
section#story31{background-size: cover !important;
    background-position: center !important; }

    img.windowimg {
    display: block !important;
}
img.mobileimg{display: none !important}
    .aboutbg{background-attachment: scroll !important;}
    .mobile_menu_click {
    display: block;
    position: absolute;
    right: 0;
    z-index: 999;
    top: 0;
    left: 0;
    background: #96833f;
    height: 70px;
    padding: 0 15px;
}
.navbar-brand {
    top: 10px;
    z-index: 1111;
    left: 25px;
}

.innerlogo {
    position: absolute;
    top: 6px;
    left: -13px;
    background: #2c220e;
    z-index: 9;
    padding:0;
}
.main-slider-top .innerlogo img{width:100px;}
.opennav_div {
    margin: 10px 0 0;
}
.opennav_div {
    color: #000;
    cursor: pointer;
    float: right;
    border: 2px solid #000;
    margin: 18px 0;
    border-radius: 0;
    background: #000;
    border-radius: 5px;
    
}
div#mySidenav li {
    list-style: none;
}
.sidenav a{background-color: #000 !important;}
section#resourses,
section#aboutus{padding:50px 0 !important;}
img.windowimg{display: none !important;}
img.mobileimg{display: block !important;}
.portfolio-area .portfolio_item {
    width: 100%;
}
.details_portfolio{padding: 40px 0 0;}
}

@media (max-width:575px){
 img.windowimg{display: none !important;}
img.mobileimg{display: block !important;}
    .mainslider_js.owl-carousel .owl-item img, .slider-area .slider-fluid, .mainslider_js, .mainslider_js .owl-stage-outer, .mainslider_js .owl-stage, .slider-area {
    height: 90vh;
    object-fit: cover;
    object-position: bottom;
}
    .sloganmiddle ul li a {
    text-transform: capitalize;
    padding-right: 0;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #FFF;
    border-right: 0;
    margin-right: 15px;
    text-shadow: 4px 3px 3px #000000bd;
    background: rgba(0,0,0,0.7);
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
    display: block;
    line-height: normal;
}
.services_ccco span {
    font-size: 20px !important;
    font-weight: 500;
    background: transparent !important;
}
.services_ccco div {
    display: inline;
}
.comments-space p {
    font-size: 16px;
    display: inline;
    line-height: 8px !important;
}
section#aboutus,
section#aboutus .container.he100,
section#aboutus .row.he100,
section#aboutus .row.he100 .he100 {
    height: auto;
}

section#aboutus .services_ccco
 {
    display: block;
    text-align: center;
    clear: both;
    position: relative;
    left: 0;
    transform: translate(0%, 0%);
    top: 0;
    width: 100%;padding: 0
}
.services_ccco h2{font-size: 26px !important;margin-top: 20px !important;}
section#story12 .services_ccco {
    display: block;
    text-align: center;
    clear: both;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
}
.services_ccco span {
    font-size: 16px !important;
    font-weight: 500;
    background: transparent !important;
    
}
.services_ccco span strong{font-weight: 400 !important;}
.services_ccco span strong br {
    display: none;
}
section#Clients {
    background: #eee;
}
.slider_loo {
    width: calc(100% / 4);
    margin: 0;
    border-right: 1px solid #eee;
}
.width_lll {
    padding: 0 !important;
}
section#Clients{padding: 40px 0 0;}
footer#footer .col-md-3.col-xs-12.col-sm-3 {
    background: #96833f;
    padding: 30px 30px;
}
.btntbn{width:100%;background-color: #000;}
footer{padding-bottom: 0 !important}
}

