@font-face {
  font-family: Bauhausb Light;
  src: url(bauhausb.ttf);
}
@font-face {
  font-family: Bauhausb Medium;
  src: url(BauhausMediumBT.ttf);
}

@font-face {
  font-family: BauhausBoldBT;
  src: url(BauhausBoldBT.ttf);
}


body{margin:0;font-family: Avenirnext;padding:0;color:#2a2a2a;background:#fff;width:100%;height:auto;overflow-x:hidden;font-size: 16px;}ul{list-style-type:none;margin:0;padding:0}a:hover{text-decoration:none}.header-area{width:100%;position: relative; z-index: 999; display: block;width: 100%;background: #2c220e;}
.about-img-box img{width:100%;max-width:100%}.header-top-info{text-align:left;display:block}.header-top-info span{font-size:13px;font-weight:600;color:#fff;line-height:27px}.info_ri{text-align:right;display:block}.pad-0{padding:0}@media (min-width:768px){.navbar{border-radius:0}ul.nav li.dropdown:hover>ul.dropdown-menu{display:block;padding: 15px 0px;}}.navbar{min-height:auto; height: auto !important; margin-bottom:0;border:0 solid transparent;background: transparent;z-index:9999;box-shadow: none;position:relative;background: #2c220e;}.navbar-brand{height:auto;padding: 10px 0;position: absolute;top: 30%;z-index: 99;}.navbar-brand h1{margin:0;padding: 0;font-size: 22px;color: #FFF;font-weight: 500;}.navbar-brand h1 img{display:block;width: 280px;max-width:100%;padding: 25px 25px 25px 50px;background: #2c220e;}.navbar-nav>li>a{line-height:20px;font-size: 18px;font-weight: 500;padding: 35px 50px 35px 0px;color: #FFF;text-transform: capitalize;letter-spacing: 0.3px;font-family: Bauhausb Medium;}.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color: transparent;color: #f36f21;}.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background-color: transparent;border-color:transparent;}.navbar-nav>li>.dropdown-menu{padding:0;border:0}.dropdown-menu>li>a{padding: 10px 20px;line-height:20px;font-size: 15px;font-weight: 500;background: #FFF;color: #000;letter-spacing: 0.3px;text-transform: uppercase;}.dropdown-menu{min-width:200px}.slider_dots .owl-dots{ display: none; position:absolute;bottom:20px;left:50%;transform:translate(-50%,0);top:auto}.slider_dots.owl-theme .owl-dots .owl-dot span{background: #716b6b;width:10px;height:10px;border:0;}.slider_dots.owl-theme .owl-dots .owl-dot.active span{background:#000;width:20px;border:0}.content_middle{position:absolute;left: 36%;top: 55%;transform:translate(-50%,-50%);z-index:99;background: transparent;border-radius:4px;padding: 0;text-align: left;width: 50%;}.content_middle h3{font-size: 48px;line-height: 48px;font-weight: 600;color: #FFF;text-transform:capitalize;margin: 0 0 20px 0;z-index: 9999;position: relative;    font-family: Avenirnext;text-align: left;text-shadow: 0px 5px 10px #00000069;}.content_middle p{font-size: 16px;font-weight: 500;color: #FFF;line-height: 28px;margin: 0 0 20px 0;text-align: left;}.btn_btn{background: #f36f21;display:inline-block;color:#fff;padding: 8px 30px;font-size: 16px;font-weight: 500;border:0;line-height: 24px;border-radius: 5px;text-transform:capitalize;cursor:pointer;margin:0 0 15px 0;    font-family: Avenirnext;letter-spacing: 0;}.btn_btn:focus,.btn_btn:hover{color: #FFF;background: #000;}.btn_btn span{font-size:13px;line-height:24px;margin-top:-4px}.navbar-toggle{border: 1px solid #f36f21;margin:18px 10px;}.navbar-toggle .icon-bar{background: #f36f21;}.footer-area{background: #0f0f0f;width:100%;display:block;clear:both;position:relative;padding: 60px 0 0px 0;}.footer-shared p{font-size:14px;font-weight:400;color:#fff;line-height:24px}.footer-shared .footer-link{margin:0 0 15px 0;padding:0;list-style-type:circle;list-style-position:inside}.footer-link li{width:100%;color:#fff;list-style-type:none}.footer-link li a{display:inline-block;color: #686868;font-size: 15px;text-transform: capitalize;font-weight: 400;margin: 0 0 12px 0;padding:0;position:relative;}.footer-address-links li a:hover,.footer-link li a:hover{color:#f1f1f1}.footer-shared h3{font-size: 20px;font-weight: 500;color: #d1d4d7;text-transform: unset;margin:0 0 15px 0;padding-bottom:10px;    font-family: Avenirnext;letter-spacing: 0.5px;position: relative;}.footer-address-links li{width:100%;color:#fff}.footer-address-links li a i{margin-right:8px;width:30px;height:30px;background: transparent;text-align:center;line-height: 29px;font-size: 14px;border-radius:50%;border: 1px solid #686868;color: #686868;}.footer-address-links li a{display:inline-block;color: #686868;font-size:14px;font-weight: 400;margin: 0 0 12px 0;padding:0;line-height:26px;text-transform: capitalize;}.footer-shared p.copy__desc{font-size:13px}.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{background: #f36f21;color:#fff;}.commondiv{width:100%;display:block;padding: 60px 0;border:0;box-shadow:none;position: relative;overflow: hidden;}.whitebg{background:#fff}.blue_box{background:#000}.offwhite{background:#fbfbfb}.heading{display:block;width:100%;position:relative}.heading h3{font-size: 40px;font-weight: 600;color:#2a2a2a;line-height:30px;margin: 0 0 24px 0;position:relative;padding-bottom: 16px;letter-spacing: 0.5px;font-family: Bauhausb Medium;}.servicebox{
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    position:relative;
    text-align: center;
    margin: 0 0 30px 0;
    display:block;
    width:100%;
    height: auto;
    box-shadow: burlywood;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #f1f1f1;
    min-height: 168px;
    }a{cursor: pointer;  }.servicebox h3{padding: 0;color: #000;display:block;font-size:16px;font-weight: 700;margin: 0 0 10px 0;width: 100%;text-transform: uppercase;}.servicebox img{max-width:100%;width: 60px;height: auto;border-radius: 0;margin: auto auto 20px auto;}.about_us h3{margin:0 0 15px 0;line-height: 40px;font-size: 30px;font-weight: 700;color: #000;display:block;text-transform: capitalize;    font-family: Avenirnext;letter-spacing: 0.5px;}.about_us p{font-size: 16px;line-height:24px;color:#2a2a2a;font-weight: 500;margin:0 0 15px 0;line-height: 28px;}.img_responsive{max-width:100%;display:block;width:100%;height:auto;border-radius:4px}.bx_v{text-align:center;display:block;width:100%;margin:0 0 15px 0;padding:0 30px}.bx_v h4{font-size:18px;font-weight:600;color:#fff;letter-spacing:.3px;margin:0 0 10px 0;display:block}.bx_v p{font-size:14px;color:#fffFFFFF;line-height:22px;font-weight:500;margin:0}.bx_v i{background:#075a84;width:50px;height:50px;border-radius:50%;color:#fff;line-height:50px;font-size:24px;text-align:center;margin:0 0 15px 0}.funfact-area{background-color:#075a84;padding-top:12px;padding-bottom:12px;color:#fff;position:relative;z-index:1;overflow:hidden}.funfact-area .fun-get-text{padding-top:0;margin-top:0;position:relative}.funfact-area .fun-get-text p{font-size:18px;color:#fff;font-weight:600;margin:0}.funfact-area .fun-get-text a{margin:0}.box_why{background:#fff;box-shadow:0 0 15px #00000017;padding:20px;margin:0 0 15px 0;display:block;width:100%;text-align:center;border-radius:4px}.box_why i{width:50px;height:50px;display:block;background: #000;color:#fff;text-align:center;line-height:50px;font-size:22px;border-radius:50%;margin:auto auto 15px auto;}.box_why h3{margin:0 0 15px 0;font-size:18px;font-weight:600;text-transform:capitalize}.box_why p{font-size:14px;line-height:22px;font-weight:400;margin:0}.questionanswer{display:block;width:100%;clear:both;box-shadow: 0 0 15px #00000014;margin:0;padding:30px;border:2px solid #ccc;position:relative;height:64vh;}.questionanswer.height{height:auto;background: #e6e8eea1;margin-bottom: 30px;}.questionanswer h3{font-size:18px;font-weight:600;color:#233d63;text-transform:capitalize;margin:0 0 12px 0;display:block;clear:both;position:relative;text-align:left;border-bottom:1px solid #ececec;padding-bottom:10px}.questionanswer h4{font-size:18px;font-weight:500;color:#333;margin:0 0 15px 0}.questionanswer label.label-cus{display:-webkit-box;font-weight:500;background:#f1f1f19e;padding:4px 8px;font-size:14px;margin:0 0 5px 0}.questionanswer input[type=radio]{margin-right:6px}.questionanswer .nextbtn{background:#000;color:#fff;text-transform:capitalize;text-align:center;cursor:pointer;border:0;padding:6px 16px 7px 16px;display:inline-block;border-radius:4px;font-size:14px;font-weight:600;line-height:20px;margin-top:4px}.questionanswer .nextbtn:focus,.questionanswer .nextbtn:hover{background-color:#233d63;color:#fff;text-decoration:none}.form-control{height:auto;line-height:inherit;padding:6px 15px;font-size:14px;border-radius: 0;color:#233d63;border:1px solid #ddd;font-weight:500;resize:none;-webkit-box-shadow:0 0 10px rgba(82,85,90,.1);-moz-box-shadow:0 0 10px rgba(82,85,90,.1);box-shadow:0 0 10px rgba(82,85,90,.1);-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;}.mainslider_js.owl-carousel .owl-item img{width:100%;height: 100vh; }.breadcrumb-area:before{position:absolute;content:'';top:0;left:0;width:100%;height:100%;background-color:#2a2a2aab;opacity:.9;z-index:-1}.breadcrumb-area{background-color:#f7fafd;height: 350px;display:-webkit-flex;display:-ms-flex;display:flex;-ms-flex-align:center;align-items:center;position:relative;text-align:center;z-index:2;color:#fff;background-image:url(../images/breadcrumb-bg.jpg);background-size: cover !important;background-position: center !important;}.breadcrumb-content h2{font-size: 50px;text-transform:capitalize;font-weight: 500;color:#fff;margin: 80px 0 15px 0;position:absolute;left:50%;    font-family: Avenirnext;top:50%;transform:translate(-50%,-50%);}.breadcrumb-content .breadcrumb__list{margin-top: 0;text-align:left;}.breadcrumb-content .breadcrumb__list li{display:inline-block;text-transform:capitalize;color:#f7fafd;font-size:14px;font-weight: 400;position:relative;padding-right:22px;}.breadcrumb-content .breadcrumb__list li:last-child{padding-right:0;color: #f1f1f1;}.breadcrumb-content .breadcrumb__list li a{color: #FFF;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;}.breadcrumb-content .breadcrumb__list li.active__list-item:after{position:absolute;content:'.';top:-8px;right:0;padding:0 6px;font-size:20px}.serice-item{background:#fff;width:100%;display:block;position:relative}.heading.left h3:before{left:0;transform:none}.serice-item p{font-size:15px;line-height:24px;font-weight:500;color:#2a2a2a;text-align:justify}.list_inline{width:100%;float:left;clear:both;list-style-type:none;position:relative}.list_inline li p{font-size:15px;font-weight:500;position:relative;background:#fff;padding:10px 10px 10px 30px;margin:0 0 15px 0;border-radius:4px;box-shadow:0 0 15px #0000000d}.list_inline li p:before{content:"\f00c";font-family:FontAwesome;position:absolute;left:8px;top:11px;font-size:14px;color:#036ea2}.questionanswer.height h3{color: #000;border-bottom: 1px solid #cccccc;}.questionanswer.height label{color: #000;font-weight: 600;}.questionanswer.height .nextbtn{background: #6182a5;}.questionanswer.height .nextbtn:hover{background: #e8941c;}.questionanswer.boxshadow{height:auto;box-shadow:0 0 10px rgba(82,85,90,.23);border:0}.questionanswer.boxshadow h3{text-align:center}.letstalk{position:absolute;right:0;top:40%;position:fixed;z-index:99}.btn_btn.m0{margin:0}.modal-open .modal{overflow-x:hidden;overflow-y:auto;z-index:9999}.map-address-box{}.map-address-box .map-address{margin-top:24px}.map-address-box .map-address li{position:relative;padding-left: 70px;margin-bottom:20px;padding-right: 30px;padding-bottom: 10px;border-bottom: 1px solid #f1f1f1;}.map-address-box .map-address li i{font-size: 24px;position:absolute;left:0;top:0;color: #FFF;width: 50px;height: 50px;text-align:center;line-height: 50px;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;background-color: rgb(54 71 89);-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}.map-address-box .map-address li h5{font-size: 16px !important;text-transform:capitalize;font-weight:600;margin:0 0 8px 0;font-size:15px;font-weight:600;}.map-address-box .map-address li p{color:#2a2a2a;font-size:14px;font-weight:500;line-height: 24px;margin:0 0 10px 0;}.contact-form-action form .form-group .form-control{height: 50px;line-height:inherit;padding:8px 15px;margin-bottom: 15px;font-size:14px;color:#231f20;border: 1px solid #f1f1f1;font-weight: 400;resize:none;-webkit-box-shadow:0 0 40px rgba(82,85,90,.1);-moz-box-shadow:0 0 40px rgba(82,85,90,.1);box-shadow: 1px 7px 15px rgb(82 85 90 / 10%);-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;}.contact-form-action form .form-group .label-text{font-size:14px;color:#231f20;font-weight:600;text-transform:capitalize}.serice-item h5{font-size:18px;font-weight:600;color:#2a2a2a;display:block;margin:0 0 15px 0}.pdftop30{padding-top:0!important}.serviceslist{margin:0 0 15px 0;display:block}.serviceslist li{list-style-position:inside;list-style-type:circle;font-size:15px;font-weight:600;color:#2a2a2a;margin-bottom:5px}.navbar.affix{top:0;position:fixed;width:100%;left:0;position:fixed;z-index:999;background: #FFF;}.navbar-nav>li>a.phonenumber{padding:10px 0;margin-left:20px}.contactinfo{display:block;position:relative}.contactinfo i{position:absolute;left:0;top:10px;font-size:30px}.details_contact{font-size:18px;font-weight:600;display:block;padding-left:34px}.details_contact span{font-size:12px;display:block}.navbar-nav>li>a.blinking{animation:blinkingText .8s infinite}@keyframes blinkingText{0%{color:#000}49%{color:#000}50%{color:#000}99%{color:#000}100%{color:#000}}.box_why:hover{box-shadow:none;background:0 0}.footer-link li a:after{position:absolute;right:0;bottom:0;content:'';width:0%;height:1px;background:#fff;-webkit-transition:all .4s cubic-bezier(.42,0,.58,1);transition:all .4s cubic-bezier(.42,0,.58,1)}.footer-link li a:hover:after{left:0;right:auto;width:100%}.copy__desc{padding: 30px 0;background: #0f0f0f;border-top: 1px solid #3a3a3a;display:block;width:100%;text-align:center;color: #686868;margin:0;font-size: 15px;font-weight:400;margin-top:20px;}.scrollup i{color:#fff; line-height: 38px;}.scrollup{z-index: 999;border-radius: 50%; width:40px;height:40px;display:none;background-color: #f36f2199;text-align: center;line-height: 40px;     margin-left: 6px;   margin-top: 140px;}.info-list li.nonedeskto, .affix-top .fg, .affix .fg{ display: none; }

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.hegtbg.servicebox img{ height: 300px; }

.servicebox_inner{
    width: 100%;
    display: block;
    position: relative;
    clear: both;
    margin-bottom: 15px;
    background: #FFF;
    box-shadow: 0px 2px 15px #00000029;
}
.servicebox_inner img{
    width: 100%;
    border-radius: 4px;
    height: 220px;
    object-position: center;
    object-fit: cover;
}
.servicebox_inner .content_inner{
    padding: 10px 6px;
    background: #FFF;
    text-align: center;
    border-radius: 0 0 4px 4px;
}
.servicebox_inner .content_inner h3{
    margin: 0 0 15px 0;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
}
.servicebox_inner .content_inner span{
    margin: 0;
    padding: 4px 30px;
    font-size: 13px;
    line-height: 23px;
}
.servicebox_inner:hover .content_inner span, .servicebox_inner:focus .content_inner span{ background: #e8941c; }

.addmore{    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 15px;
    display: block;
    text-decoration: underline;}

    .navbar-nav>li>a.phonenumber {
    padding: 10px 25px;
    background: #000;
    color: #fff;
    text-align: center;
    margin: 16px 0 16px 16px;
    border-radius: 10px;
}
.contactinfo {
    display: block;
    position: relative;
    text-align: center;
}
.details_contact {
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 0;
}

.bgdiv{background: url('../images/bg-patern.jpg');background-repeat: repeat;}
.servicebox p{
    font-size: 14px;
    color: #000;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    margin: 0;
}




.sortlis li{ float: left; width: 49%; }

.solidcolour {
    text-align: center;
    width: 100%;
    background: url(../images/bg_img.jpg);
    display: block;
    background-size: cover;
    padding: 150px 0 100px 0;
    position: relative;
}
.solidcolour:before {
    content: '';
}.box_why:hover {
    box-shadow: none;
    background: #fff;
}
.solidcolour h3 {
    margin: 0 0 30px 0;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    line-height: 34px;
    font-weight: 600;
    z-index: 9;
}

.bg-vlack {
    background: url(../images/bg-6.png) #3a3a3a;
    height: auto;
    width: 100%;
    z-index: 9;
    height: 300px;
    position: absolute;
    z-index: 0;
}
.box_why {
    box-shadow: 0 0 15px #00000017;
    min-height: 256px;
    background: #f6f7f8;
    padding: 20px;
    margin: 20px 0 15px 0;
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 0;
    z-index: 99;
    border-top: 0;
    position: relative;
}
.box_why:before {
    position: absolute;
    background: linear-gradient(
135.4deg
,#000 0,#5c768d 100%);
    content: '';
    width: 90%;
    left: 50%;
    top: -12px;
    height: 12px;
    transform: translateX(-50%);
}
.box_why img {
    width: 60px;
    height: 60px;
    display: block;
    margin: auto auto 30px 0;
}
.box_why h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.box_why p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}

.servicebox .nothover{ display: block; }
.servicebox:hover .nothover{ display: none; }
.servicebox:hover .onhover{ display: block; }
.servicebox .onhover{ display: none; }
.servicebox:hover{    -webkit-box-shadow: 0 16px 18px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 16px 18px 0 rgb(0 0 0 / 15%);    -webkit-transform: translateY(10px);
    transform: translateY(10px);    -webkit-transition: .3s ease-out;
    transition: .3s ease-out; background: #000;  color: #FFF;}
.servicebox:hover h3{   color: #FFF;}
.box_why:hover:before {
    width: 100%;
    left: 0;
    transform: none;
    top: 0;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
 .fixedfooter{
    position: fixed;
    bottom: 0px;
    padding: 10px 0px;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #000;
    text-align: center;
}
    .f_ox{}
    .f_ox i{
    display: block;
    font-size: 20px;
    margin: 0 0 6px 0;
    color: #FFF;
}
    .f_ox:hover, .f_ox:focus{ color: #FFF; }
    .f_ox{
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}
    .f_ox:hover i{color: #FFF;}

    .solidcolour p{    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    margin: 0;
    line-height: 28px;
    margin: auto;
    width: 90%;}
    .solidcolour .line{    display: block;
    background: #FFF;
    width: 80px;
    height: 2px;
    margin: auto;
    margin-bottom: 30px;}

    .bottom-four-icon-section {
    padding: 40px 0;
    border-top: 1px solid #d6d7d9;
    font-size: 15px;
}

.media{
    display: block;
}
.media .media-left{}
.media .media-left img{}
.media .media-body{
    vertical-align: middle;
    width: 75%;
}

.bottom-four-icon-section .col:last-child{ border:none; }
.bottom-four-icon-section .col {
    border-right: 1px solid #d6d7d9;
}

.lis_cont{
    list-style-position: inside;
    position: relative;
    margin: 0 0 15px 0;
}
.lis_cont li{
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    margin: 0 0 6px 0;
    position: relative;
    padding-left: 24px;
    list-style-position: inside;
}
.lis_cont li:before{content: "\f00c";font-family: FontAwesome;position: absolute;left: 0;top: 0px;color: #f36f21;}
.about_us p.callus{
    font-size: 18px;
    font-weight: 600;
    color: #5c768d;
    display: block;
}
.about_us p.callus span{}
.about_us p.callus a{
    color: #040404;
    margin-left: 10px;
}
.about_us h3 span{    font-size: 16px;
    display: block;
    color: #5c768d;
    font-weight: 600;
    margin-bottom: 10px;}

    .aboutysimage{ position: relative; }
    .aboutysimage span{position: absolute;top: 50%;right: 0;transform: translate(0%, -50%);background: #5c768d;padding: 20px;font-size: 20px;color: #FFF;font-weight: 600;width: 200px;text-align: center;border-radius: 15px;}
    .aboutysimage img{ width: 100%; max-width:100%; }

    .grey-bg {
    background-color: #f3f3f3;
}

.section-head-content p{font-size: 16px;font-weight: 500;color: #000;line-height: 26px;margin: 0 0 40px 0;}
.why-us-section .info-div {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    max-width: 255px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #f1f1f1;
}
.why-us-section .info-div .icon-div {
    margin-bottom: 10px;
}
.why-us-section .info-div .icon-div img {
    width: 80px;
    height: auto;
}
.why-us-section .info-div h4 {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin: 0 0 10px 0;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
}
.why-us-section .info-div .detail {
    min-height: 80px;
    font-size: 14px;
    font-weight: 500;
    color: #58595b;
}

.leftcontent{
    padding: 60px;
    display: block;
    margin: 0;
}
.leftcontent h3{
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
        font-family: Avenirnext;
    letter-spacing: 1px;
}
.leftcontent p{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
    color: #484848;
    text-align: justify;
}
.leftalgin{
    text-align: center;
}
.rgtalgin{
    text-align: center;
    border-left: 1px solid #dedede;
}

.whitearea:before{content: '';position: absolute;left: 0px;top: 0px;background-color: #FFF;width: 42%;height: 100%;}

.sec-heading h3, .contact-form-action h3{
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    text-align: left;
}

.map-address-box .map-address li:last-child{ border-bottom: 0px; }

.tm-all-post-list{
    position: relative;
    padding: 0px 20px 20px 20px;
    display: block;
    box-shadow: none;
    border: 0;
    margin-bottom: 20px;
}
.tm-all-post-list li{
    display: block;
    position: relative;
    margin: 0 0 6px 0;
}
.tm-all-post-list li a{
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #686a6f;
    transition: all 0.3s ease;
    width: 100%;
    padding: 6px 10px 6px 20px;
    position: relative;
    border: 0;
    margin-bottom: 0;
    letter-spacing: 0.3px;
}
.tm-all-post-list li a:before{content: "\f105";font-family: 'FontAwesome';position: absolute;width: 40px;height: 40px;display: inline-block;text-align: center;line-height: 40px;right: 0;top: 0;border-right: 0;background: transparent;color: #686a6f;}
.tm-all-post-list li a:hover{color: #000;background: #fff;transition: all 0.3s ease;border-radius: 6px;}
.tm-all-post-list li a:hover:before{color: #000;}

.services-inner{
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    background: #FFF;
}
.services-inner h3{
    margin: 0 0 15px 0;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    display: block;
    clear: both;
    position: relative;
}
.services-inner img.bigimg{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 0 20px 0;
}
.services-inner img.smallimg{
    width: 100%;
    height: 250px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
.services-inner p{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
.bg_slide:before{content: '';position: absolute;left: 0px;top: 0px;background: #0000009c;height: 100%;width: 100%;border-radius: 5px;z-index: 1;}
.bg_slide{background: url('../images/tire-change-3.jpg') no-repeat;background-size: cover;padding: 20px;position: relative;z-index: 9;border-radius: 5px;}
.bg_slide .content_i_n{
    position: relative;
    display: block;
    z-index: 99;
    border: 1px dotted #FFF;
    padding: 20px;
}
.bg_slide .content_i_n i.fa-user{
    color: #FFF;
    font-size: 40px;
    margin-bottom: 15px;
}
.bg_slide .content_i_n h3{
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
}
.bg_slide .content_i_n p{
    color: #FFF;
}
.bg_slide .content_i_n ul{}
.bg_slide .content_i_n ul li{
    margin: 0 0 10px 0;
    border-bottom: 1px dotted #FFF;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #FFF;
}
.bg_slide .content_i_n ul li i{}
.bg_slide .content_i_n ul li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.services_l{}
.services_l li{}
.services_l li:before{}

.servie_box{width: 100%;display:block;padding: 30px;box-shadow: 0 0 15px #00000024;margin-bottom:30px;}


.upper_slider{
    margin-top: -140px;
    padding-bottom: 40px;
    background: #101010;
    background-image: url(../images/header-cover-image.png);
    width: 100%;
    background-repeat: repeat;
}
.bakerybox{margin-top: -120px;display: block;padding: 20px 20px 20px 20px;text-align: center;display: block;position: relative;color: #000;background: #f36f21;border-radius: 10px;margin-bottom: 15px;box-shadow: 0 0 15px #0000001f;}
.bakerybox span{
        font-family: Avenirnext;
    font-size: 18px;
    font-weight: 500;
    color: #fFF;
    display: block;
    margin: 0 0 10px 0;
    letter-spacing: 0.3px;
}
.bakerybox p{
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    line-height: 24px;
}
.bakerybox img{    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    width: 100px;
    margin: auto auto 10px auto;
    display: block;
    background: #FFFF;
}

.upper_slider .row{
    background: transparent;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    color: #f1f1f1;
    }


    .bakerybox:hover img{    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);}

    .bakerybox:hover, .bakerybox:focus{ text-decoration: none; }
    .wave-separator {
    height: 9px;
    width: 100%;
    background-color: transparent;
    background: url(../images/bg-header.png) repeat-x bottom;
    position: absolute;
    bottom: -9;
    z-index: 25;
}
.slider-area .slider-fluid, .mainslider_js, .mainslider_js .owl-stage-outer, .mainslider_js .owl-stage{    height: 100vh;overflow: hidden;}
.slider-area {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.dividecote{
    display: block;
    clear: both;
    position: relative;
    margin-top: 20px;
}
.dividecote img{
    width: 55px;
    margin: 0 0 15px 0;
}
.dividecote h5{    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 10px 0;
    display: block;
    clear: both;}
.dividecote p{
    margin: 0;
}

.mostpr{
    display: block;
    text-transform: capitalize;
    clear: both;
    position: relative;
    margin-bottom: 30px;
    background: #FFF;
    box-shadow: 1px 7px 16px 3px #00000012;
}

.mostpr img{
    width: 100%;
    height: 200px;
    margin: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.mostpr h3{
    font-size: 19px;
    font-weight: 600;
    color: #000;
    display: block;
    padding: 12px 0 12px 0;
    display: block;
    text-align: center;
    margin: 0;
}
.image_gallery{overflow: hidden;display: block;width: 100%;margin: 0 0 30px 0;position: relative;}
.image_gallery:hover:before {
    transform: scaleX(1);
}
.image_gallery:hover:after {
    transform: scaleY(1);
}
.image_gallery:after {
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background: rgb(240 187 95 / 65%);
    transform: scaleY(0);
    transition: all 0.6s ease 0s;
    z-index: 1;
}
.image_gallery:before {
    background: rgb(240 187 95 / 65%);
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.6s ease 0s;
    z-index: 1;
}
.image_gallery .fa-search{ display: none; position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);z-index: 5;font-size: 20px;color: #FFF;background: #2b2b2bbf;width: 50px;height: 50px;border-radius: 50%;line-height: 50px;text-align: center;}
.image_gallery:hover .fa-search{ display: block; }
.image_servi {
    display: block;
    width: 100%;
    margin-bottom:0px;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    cursor: zoom-in;
}
.mostpr:hover::after {
    height: 100%;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    width: 100%;
}
.mostpr::after {
    background-color: rgba(255,255,255,.15);
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    width: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.mostpr:hover::before {
    height: 100%;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    width: 100%;
}
.mostpr::before {
    background-color: rgba(255,255,255,.15);
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    width: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.mostpr:hover, .mostpr:focus{ box-shadow: none; text-decoration: none; }

.testti{
    padding: 30px 30px 30px 30px;
    margin: 30px 15px;
    text-align: center;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
    }
.testti p{
    font-style: italic;
    margin: 0 auto 15px auto;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    }
.testti p i.quote-icon-left{
    display: inline-block;
    left: -5px;
    position: relative;
    color: #b9a770;
    font-size: 20px;
    }
.testti p i.quote-icon-right{
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    color: #b9a770;
    font-size: 20px;
    }
.testti h5{
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0 15px 0;
    color: #111;
        font-family: Avenirnext;
    letter-spacing: 0.5px;
    }

    .newsleterform{
    display: block;
    width: 100%;
    margin-top: 10px;
    position: relative;
}
    .newsleterform input{
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 6px;
    background: #e2cd8e;
    position: relative;
    clear: both;
    outline: 0;
    padding: 0px 15px;
    color: #FFF;
}
    .newsleterform button{
    position: absolute;
    right: 0px;
    background: transparent;
    font-size: 20px;
    border: 0;
    color: #31554b;
    right: 0;
    top: -1px;
    line-height: 40px;
    padding: 0px 15px;
}
    .news_left_text{
    display: block;
    text-align: left;
}
    .newsletter_area{
    background: #b9a770;
    padding: 60px 0px;
}

.news_left_text h4{    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    display: block;
    margin: 0;
    line-height: 30px;}
    .contact_b:hover{box-shadow: 0 10px 30px rgb(27 25 42 / 20%);}
    .contact_b{    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    border-radius: 30px;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 10px 30px rgb(27 25 42 / 10%);
    box-shadow: 0 10px 30px rgb(27 25 42 / 10%);}
    .contact_b i{
    width: 68px;
    height: 68px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    line-height: 68px;
    border-radius: 50%;
    margin-bottom: 15px;
    color: #fff;
    background: #31554b;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    .contact_b:hover i{  background: #b9a770; }
    .contact_b h4{font-size: 20px;font-weight: 500;display: block;margin-bottom: 15px;    font-family: Avenirnext;letter-spacing: 0.5px;}
    .contact_b p{font-size: 16px;font-weight: 400;display: block;margin: 0px;color: #8e8e8e;}
    .middle_shop{
    display: block;
    clear: both;
    position: relative;
    text-align: center;
    box-shadow: 1px 7px 16px 3px #00000012;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
}
    .middle_shop h6{
    font-size: 24px;
        font-family: Avenirnext;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
    line-height: 36px;
    color: #31554b;
}
    .middle_shop p{
    font-size: 14px;
    font-weight: 400;
    color: #616161;
    line-height: 24px;
    display: block;
    max-width: 80%;
    margin: auto auto 15px auto;
}

.widget {
    padding: 15px 25px;
    border: 2px solid #eaedf4;
    margin-bottom: 40px;
}
.widget-title {
    padding-bottom: 25px;
    margin-bottom: 20px;
    position: relative;
    font-size: 26px;
        font-family: Avenirnext;
    font-weight: 400;
    letter-spacing: 1px;
}
.product-cat-widget ul li {
    line-height: 35px;
    font-size: 16px;
}
.product-cat-widget ul li a {
    color: #616161;
    display: block;
}
.product-cat-widget ul li a:hover{
    margin-left: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: #b9a770;
    }



    .accordion_container {
  width: 100%;
}

.accordion_head {
  background-color: #ebebeb;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  margin: 0 0 1px 0;
  padding: 12px 11px;
  font-weight: 500;
  text-transform: capitalize;
}

.accordion_body {
  background: lightgray;
}

.accordion_body p {
  padding: 14px 20px;
  margin: 0px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.plusminus {
  float: right;
  font-size: 20px;
  line-height: 20px;
}

.widget-title::before, .widget-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 10px;
    background-color: #31554b;
}

.widget-title::after {
    width: 25px;
    left: 18px;
}

.inline-textlink i {
    margin-right: 10px;
    font-size: 18px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.upper_slider .row_below{ margin-top: 30px; background: transparent;color: #FFF;outline: 0px;text-align: center;outline-offset: unset;border-radius: 0;}
.upper_slider .row_below i {margin-right: 10px;display: inline-block;font-size: 15px;}
.upper_slider .row_below p {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
}
.bakerybox i{
    font-size: 40px;
    color: #fff200;
    margin: 0 0 10px 0;
    display: block;
    text-align: center;
}
.bakerybox:hover{ box-shadow: unset; }
.img_row img.fisetimg { height: 378px; object-fit: cover; object-position: center; width: 100%; }
.img_row img {
    width: 100%;
    height: auto;
    max-width: 100%;
}   

.innerslider  .owl-prev{
    position: absolute;
    left: 2%;
    top: 36%;
    background: #938f8fa6 !important;
    color: #FFF;
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    text-align: center;border-radius: 50% !important;
    font-size: 16px !important;
    }
 .works  .owl-prev{
    position: absolute;
    left: 2%;
    top: 50%;
    background: #938f8fa6  !important;
    color: #FFF;
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    text-align: center;
    border-radius: 50% !important;
    font-size: 16px !important;
    }
.mainslider_js  .owl-prev{
    position: absolute;
    left: 2%;
    top: 68%;
    background:#938f8fa6  !important;
    color: #FFF;
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 52px;
    text-align: center;
    border-radius: 50% !important;
    font-size: 16px !important;
    }
.innerslider  .owl-next{
    position: absolute;
    right: 2%;
    top: 36%;
    background: #938f8fa6  !important;
    color: #FFF;
    width: 50px;
    text-align: center;height: 50px;
    margin: 0;
    line-height: 50px;
    border-radius: 50% !important;
    font-size: 16px !important;
    }
    .works  .owl-next{
    position: absolute;
    right: 2%;
    top: 50%;
    background: #938f8fa6  !important;
    color: #FFF;
    width: 50px;
    text-align: center;height: 50px;
    margin: 0;
    line-height: 50px;
    border-radius: 50% !important;
    font-size: 16px !important;
    }
    .mainslider_js  .owl-next{
    position: absolute;
    right: 2%;
    top: 68%;
    background: #938f8fa6  !important;
    color: #FFF;
    width: 50px;
    text-align: center;height: 50px;
    margin: 0;
    line-height: 50px;
    border-radius: 50% !important;
    font-size: 16px !important;
    }
    .mainslider_js  .owl-prev:hover, .mainslider_js  .owl-next:hover{ background: #000 !important; }
    #menu{background: #f4f5f8;background-size: cover;position: relative;border-radius: 5px;}
    #menu:before{content: '';position: absolute;left: 0px;width: 100%;height: 100%;top: 0px;background: transparent;border-radius: 5px;}
    #menu h3{
    font-size: 20px;
    color: #2a230d;
    display: block;
    z-index: 99;
    position: relative;
    padding: 20px 20px 5px 20px;
    margin: 0 0 6px 0;
}

.price-table-3{background: url('../images/price-table-3.png') no-repeat;padding: 30px;background-size: contain;background-position: top center;}
.aed_price{
    font-size: 24px;
    font-weight: 600;
    color: #cf1b23;
}
.ser_first{
    background: #f5f5f5;
    display: block;
}
.aed_price span{
    font-size: 16px;
    color: #000;
}
.price-table-3 small{
    font-size: 15px;
    font-weight: 500;
    color: #939393;
    margin-bottom: 20px;
    display: block;
}
.price-table-3 h4{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0 0 15px 0;
}
.price-table-3 h3{
    margin: 0 0 5px 0;
    display: block;
    font-weight: 600;
    color: #000;
}
.price-table-3 a{
    background: #f36f21;
    color: #FFF;
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 14px;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.price-table-3 a:hover, .price-table-3 a:focus{
    background: #000;
}
.service_list{}
.service_list li{
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
    display: block;
    color: #939393;
}
.service_list li:before{content: "\f0a9";font-family: FontAwesome;position: absolute;left: 0px;color: #2cbd22;top: 0;font-size: 16px;}
.services_contne{}
.services_contne h3{
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin: 0 0 15px 0;
    line-height: 32px;
}
.services_contne p{
    font-size: 16px;
    font-weight: 400;
    display: block;
    line-height: 26px;
    margin: 0 0 15px 0;
}

.twosilder.owl-carousel .owl-item img{width: 100%;height: 350px;object-position: center;object-fit: cover;}
.twosilder{ margin-top: 40px; display: block; }
.twosilder .owl-prev {
    position: absolute;
    left: 2%;
    top: 50%;
    background: #938f8fa6!important;
    color: #FFF;
    width: 40px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    text-align: center;
    border-radius: 50% !important;
    font-size: 14px !important;
}
.twosilder .owl-next {
    position: absolute;
    right: 2%;
    top: 50%;
    background: #938f8fa6 !important;
    color: #FFF;
    width: 40px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    text-align: center;
    border-radius: 50% !important;
    font-size: 14px !important;
}

.tire-track-grey{
    background: url('../images/tire-track-grey.png') #f1f1f1;
    padding: 30px;
    margin-top: 40px;
}
.more_comf{
    display: block;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    position: relative;
    margin: 0;
}
.more_comf i{
    position: relative;
    background: #f36f21;
    width: 40px;
    color: #FFF;
    height: 40px;
    top: 0px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 20px;
}
.more_comf .ore_ff1{
    position: relative;
    display: block;
    padding-left: 50px;
}
.more_comf .ore_ff1 h4{
    margin: 0 0 5px 0;
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.tire-track-grey h3{
    margin: 0 0 15px 0;
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
.tire-track-grey p{
    font-size: 16px;
    font-weight: 400;
    color: #939393;
    margin: 0 0 15px 0;
}

.clientbox {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px #00000017;
    padding: 10px;
}
.owl-carousel .owl-item .clientbox img, .clientbox img {
    width: 100%;
    margin: auto;
    height: 120px; object-fit: contain; object-position: center;
    display: block;
    max-width: 100%;
}
.service-eight__card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 30px;


    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.service-eight__card__inner {
    border: 1px solid #eef0f6;
    padding: 35px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.service-eight__card__inner::after {
    content: '';
    width: 68px;
    height: 68px;
    background-color: #eef0f6;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(50%) translateX(50%);
    transform: translateY(50%) translateX(50%);
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-shared h3:after {
    display: inline-block;
    margin-left: 9px;
    content: '';
    width: 25px;
    height: 1px;
    background: #f36f21;
}
.service-eight__card__inner.cotn2::before{ content: '2'; }
.service-eight__card__inner.cotn1::before {content: '1';}
.service-eight__card__inner.cotn3::before {content: '3';}
.service-eight__card__inner.cotn4::before {content: '4';}
.service-eight__card__inner:hover::before{ opacity: 0.4; }
.service-eight__card__inner::before {
    line-height: 1;
    font-size: 60px;
    color: #eef0f6;

    position: absolute;
    right: 35px;
    bottom: 35px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 1;
}
.service-eight__title {
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    margin: 0;
    max-width: 101px;
    font-weight: bold;
}
.service-eight {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #eef0f6;
    background-image: url(../images/testi-8-bg-1-1.png);
    background-repeat: repeat;
    background-position: center;

}
.service-eight__card:hover {
    background-color: #f36f21;
}
.service-eight__icon {
    margin-top: 70px;
}
.service-eight__card__inner img{ width: 70px; height: auto; }
.service-eight__card__inner img.dis_on{display: inline-block; }
.service-eight__card__inner img.dis_hover{ display: none; }
.service-eight__card__inner:hover img.dis_hover{ display: inline-block; }
.service-eight__card__inner:hover img.dis_on{display:none; }
.service-eight__card__inner:hover h3{color: #FFF; }

.logo_footer img{
    width: 200px;
    margin: 0 0 15px 0;
    display: block;
}
.logo_footer p{font-size: 14px;font-weight: 400;color: #686868;}

.footer-address-links.soil li{ display: inline-block; width: auto; }.footer-address-links li a:hover i{ background: #f36f21; border-color: #f36f21; color: #FFF; }

.main-slider-top{    position: relative;
    width: 100%; background: #000;}

    .inner_header .mainheader{position: absolute;left: 0;width: 100%;top: 0;}

.bredtop.breadcrumb-content{
    background: #f36f21;
    padding: 12px 0px;
}

.question-area {
    background: #f36f21;
    padding: 20px 0px 26px;
}
.question-area h2 {
    font: 300 24px/44px "Open Sans", sans-serif;
    color: #FFF;
    margin: 0;
}
.question-area h2 a {
    color: #000;
    display: inline-block;
    border-bottom: 1px solid #FFF;
    line-height: 32px;
    margin-left: 25px;
    font-weight: 500;
}

.homepage .mainheader{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    }

    .mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #000000;
  padding: 5px 5px 5px 5px;
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
  display: block;
}

.navbar-collapse{ position: relative; }
.tm-all-post-list li a:hover:after{position: absolute;content: '';left: 0px;top: 7px;background: #f36f21;width: 2px;height: 20px;}

.info-list li.make{
    padding: 10px 30px;
    background: #314c83;
}



.quick-alo-ph-circle.active {

    width: 130px;
    height: 130px;
    top: -40px;
    left: -40px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30,30,30,.4);
    opacity: 1;
    -webkit-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.call-now-button div {
    display: flex;
}
@media screen and (max-width:2000px) { 
.call-now-button {display:flex!important; background:transparent;}  
.quick-call-button {display: block!important; }}
@media screen and (max-width: 1024px) and (min-width: px) { 
.call-now-button .call-text { display:none!important; }}
@media screen and (max-width:680px) { 
.call-now-button .call-text {display:none!important;}} 
.call-now-button {left: auto;top: 54%; right: 8%;}
.call-now-button {background: transparent;}
.call-now-button div a .quick-alo-ph-img-circle, .call-now-button div a .quick-alo-phone-img-circle {background-color: #23c55c;}
.call-now-button .call-text {color: #fff; display: none;}
.quick-alo-ph-circle-fill.active {
    width: 80px;
    height: 80px;
    top: -15px;
    left: -15px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 1;
    -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.call-now-button div a .quick-alo-ph-img-circle, .call-now-button div a .quick-alo-phone-img-circle {
    background-color: #23c55c;
}
.quick-alo-ph-img-circle.shake {
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 1;
    background: url(../images/quick-call-button.png) no-repeat center center;
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.call-now-button div {
    display: flex;
}
.call-now-button {
    background: transparent;
}
.call-now-button {
       left: auto;
    top: 60%;
    right: 8%;
}
.call-now-button {
    display: none;
    z-index: 9999;
    clear: both;
    margin: 0 auto;
    position: fixed;
    border-radius: 50px;
}
.call-now-button div p {
    color: #fff;
    display: table;
    padding: 10px;
    border-radius: 21px;
    height: 34px;
    line-height: 14px;
    font-size: 14px;
    margin: 8px 5px 8px 50px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    box-sizing: content-box;
    text-decoration: none!important;
    box-sizing: border-box;
}

@-moz-keyframes quick-alo-circle-anim{0%{-moz-transform:rotate(0) scale(.5) skew(1deg);opacity:.1;-moz-opacity:.1;-webkit-opacity:.1;-o-opacity:.1}30%{-moz-transform:rotate(0) scale(.7) skew(1deg);opacity:.5;-moz-opacity:.5;-webkit-opacity:.5;-o-opacity:.5}100%{-moz-transform:rotate(0) scale(1) skew(1deg);opacity:.6;-moz-opacity:.6;-webkit-opacity:.6;-o-opacity:.1}}@-webkit-keyframes quick-alo-circle-anim{0%{-webkit-transform:rotate(0) scale(.5) skew(1deg);-webkit-opacity:.1}30%{-webkit-transform:rotate(0) scale(.7) skew(1deg);-webkit-opacity:.5}100%{-webkit-transform:rotate(0) scale(1) skew(1deg);-webkit-opacity:.1}}@-o-keyframes quick-alo-circle-anim{0%{-o-transform:rotate(0) kscale(.5) skew(1deg);-o-opacity:.1}30%{-o-transform:rotate(0) scale(.7) skew(1deg);-o-opacity:.5}100%{-o-transform:rotate(0) scale(1) skew(1deg);-o-opacity:.1}}@-moz-keyframes quick-alo-circle-fill-anim{0%{-moz-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{-moz-transform:rotate(0) -moz-scale(1) skew(1deg);opacity:.2}100%{-moz-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}}@-webkit-keyframes quick-alo-circle-fill-anim{0%{-webkit-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{-webkit-transform:rotate(0) scale(1) skew(1deg);opacity:.2}100%{-webkit-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}}@-o-keyframes quick-alo-circle-fill-anim{0%{-o-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{-o-transform:rotate(0) scale(1) skew(1deg);opacity:.2}100%{-o-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}}@-moz-keyframes quick-alo-circle-img-anim{10%{transform:rotate(0) scale(1) skew(1deg)}10%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}30%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}50%{-moz-transform:rotate(0) scale(1) skew(1deg)}100%{-moz-transform:rotate(0) scale(1) skew(1deg)}}@-webkit-keyframes quick-alo-circle-img-anim{0%{-webkit-transform:rotate(0) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}50%{-webkit-transform:rotate(0) scale(1) skew(1deg)}100%{-webkit-transform:rotate(0) scale(1) skew(1deg)}}@-o-keyframes quick-alo-circle-img-anim{0%{-o-transform:rotate(0) scale(1) skew(1deg)}10%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-o-transform:rotate(25deg) scale(1) skew(1deg)}30%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-o-transform:rotate(25deg) scale(1) skew(1deg)}50%{-o-transform:rotate(0) scale(1) skew(1deg)}100%{-o-transform:rotate(0) scale(1) skew(1deg)}}

.imgsection img{
    width: 60px;
    background: #282828;
    border-radius: 50%;
    padding: 10px;
}
.img_visson{
    width: 100%;
    max-width: 100%;
    margin: 0;
}
.vsisson{
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
}
.vsisson h3{
    font-size: 40px;
    font-weight: 600;
    color: #000;
    margin: 0 0 20px 0;
    display: block;
}
.vsisson p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0 0 15px 0;
    line-height: 28px;
}

.about_six__box{
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: block;
    width: 100%;
    margin: 30px 0 0px 0;
    position: relative;
    background: #f1f1f1;
    padding: 40px 30px;
    border-radius: 5px;
}
.imgsection{
    width: auto;
}
.imgsection .visson1{
    display: inline-block;
}
.imgsection .visson2{
    display: none;
}
.__box__title{
    position: absolute;
    left: 0px;
    top: 45px;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    padding-left: 105px;
    line-height: 26px;
}

.about_six__box:hover{ background: #f36f21;    -webkit-transition: all 500ms ease;
    transition: all 500ms ease; }

 

 
.readmore{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: underline;
    display: inline-block;
    text-align: left;
}
.readmore:hover, .readmore:focus{ color: #f36f21; text-decoration: none; }

.dots-line {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 1%;
    z-index: 7;
    opacity: 0.4;
    z-index: 0;
}

.tabs_brads{
    display: block;
    width: 100%;
    clear: both;
    position: relative;
}
.tabs_brads .nav-pills{
    padding-left: 0px;
    margin: 0px;
    display: -webkit-box;
    padding-bottom: 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.tabs_brads .nav-pills>li+li{ margin-left: 0px; }
.tabs_brads .nav-pills>li{
    width: 100%;
    display: inline-block;
    margin-left: 0;
}
.tabs_brads .nav-pills>li>a{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    display: block;
    text-transform: capitalize;
    color: #000;
    padding: 12px 30px;
    border-radius: 0;
    margin: 0;
    background: #f2f2f2;
}
.tabs_brads .nav-pills>li>a:hover, .tabs_brads .nav-pills>li>a:focus{color: #FFF; background: #f36f21;}
.tabs_brads .nav-pills>li.active a{ color: #FFF; background: #f36f21; }

.brandsWrapper {
    max-width: 900px;
    display: block;
    margin: 0px auto;
}

.alllogo{
    border: 1px solid #ccccccb8;
    padding: 5px;
    text-align: center;
    margin: 30px auto auto auto;
    border-radius: 15px;
}
.alllogo img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}
.alllogo:hover{
    border-radius: 1px solid transparent;    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
     border-radius: 0px;
    box-shadow: 0 0 15px #0000002e;
}

.line-one1 {
    left: 0;
    top: 0;
    position: absolute;
}
.line-two1 {
    right: -50px;
    bottom: 0;
    position: absolute;
    z-index: 0;
}
.features_b {
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 15px #0000001f;
    border-radius: 5px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    z-index: 8;
}
.features_b h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
    margin: 0;
}
.features_b img {
    width: 80px;
    height: auto;
    display: block;
    margin: auto auto 30px auto;
}
.bg_f5 {
    background: #f5f5f5;
}
.features_b:hover {
    box-shadow: none;
}

.bg_con {
    background: url(../images/bg_content.png) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
.gm {
    max-width: 100%;
    width: 100%;
    margin: auto auto 30px auto;
    border-radius: 5px;
    border: 5px solid #fff;
}
.gm img {
    width: 100%;
}
.postanmee {
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    color: #39a3ba;
    display: block;
    margin: 100px 0 15px 0;
    line-height: 40px;
}
.name {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 15px 0;
    display: block;
    font-weight: 500;
}
.post {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    color: #000;
}
.p-text p {
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}
.each_how_to_book {
    max-width: 200px;
    display: block;
    margin: 0px auto;
    margin-top: 40px;
}
.each_how_to_book .icon_container img {
    max-height: 60px;
    max-width: 80px;
}
.each_how_to_book .text_container {
    margin-top: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.each_how_to_book .text_container h4 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin: 0px 0 15px 0;
}
.each_how_to_book .text_container p {
    font-size: 15px;
    font-weight: 400;
    color: #000;
}
.each_how_to_book.border_design_1:after, .each_how_to_book.border_design_2:after {
    position: absolute;
    content: " ";
    height: 100%;
    width: 70%;
    top: 50%;
    left: 65%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
}
.tabs_brads .nav-pills>li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tabs_brads .nav-pills>li:last-child a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.border_design_1:after {
    background-image: url(../images/Line_1.svg);
}
.each_how_to_book .icon_container img {
    max-height: 60px;
    max-width: 80px;
}
.border_design_2:after {
    background-image: url(../images/Line_2.svg);
}
.each_how_to_book.border_design_2:after {
    bottom: 0px;
    -webkit-transform: unset;
    transform: unset;
}
.mx-auto{ text-align: center; display: block; margin: auto; }

@media (min-width: 768px)
{
.navbar-right{ width: 100%; }
    .navbar-collapse.collapse {
    float: left;
    display: inline-block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    width: 100%;
}}

.navbar-nav>li.lat{ float: right; }
.tm-all-post-list li.active a {
    background-color: #FFF;
    border-radius: 10px;
}

.navbar-nav>li.lastchild>a{background: #f36f21;color: #FFF;padding: 10px 12px;border-radius: 4px;margin: 27px 30px 23px 0px;}

.sloganmiddle{position: absolute;bottom: 40%;left: 50%;transform: translate(-50%, 0);z-index: 9;text-align: center;}
.sloganmiddle h1{font-size: 48px;color: #FFF;text-align: center;text-transform: capitalize;margin: 0 0 35px 0;font-weight: 600;letter-spacing: 0.3px;text-shadow: 4px 3px 3px #000000bd;font-family: Bauhausb Medium;}
.sloganmiddle ul{list-style-type: none;padding: 0;}
.sloganmiddle ul li{display: inline-block;width: auto;}
.sloganmiddle ul li a{text-transform: capitalize;padding-right: 15px;font-size: 20px; display: inline-block; margin-bottom: 10px; font-weight: 400;color: #FFF;border-right: 2px solid #FFF;margin-right: 15px;font-family: Bauhausb Medium;text-shadow: 4px 3px 3px #000000bd;}
.sloganmiddle ul li:last-child a{ border-right: 0px; padding-right: 0px; margin-right: 0px; }
.service_tag{display: block;text-align: center;color: #FFF;font-size: 40px;margin: 0;letter-spacing: 0.3px;font-weight: 600;font-family: Bauhausb Medium;text-shadow: 4px 3px 3px #000000bd;}
.slider-area video{    width: 100%;
    height: 100vh;
    background: #000;
    margin: 0;
    padding: 0;
    display: block;
    object-fit: cover;}

    .he100{ height: 100vh; }

    .creative{ background: url('../images/creative.jpg') no-repeat; }
    .branding{ background: url('../images/brands.jpg') no-repeat; }
    .media{ background: url('../images/media.jpg') no-repeat; }
    .events{ background: url('../images/events.jpg') no-repeat; }
    .webs{ background: url('../images/webs.jpg') no-repeat; }
    .parrlle_{ margin: 0px; background-attachment: fixed;background-size: cover !important;background-repeat: no-repeat;position: relative;}
    .services_ccco{display: block;text-align: center;clear: both;position: absolute;left: 50%;transform: translate(-50%, -50%);top: 50%;width: 100%;



}
    .services_ccco h3{margin: 0 0 25px 0;font-size: 40px;color: #FFF;font-weight: 600;font-family: Bauhausb Medium;letter-spacing: 3px;text-shadow: 4px 3px 3px #000000bd;}
   /* .services_ccco p{font-size: 20px;font-weight: 400;color: #FFF;max-width: 70%;font-family: Avenirnext;margin: auto auto 0 auto;line-height: 32px;}*/
   
    .slider_effect{ padding: 40px 0; overflow: hidden;}
    .width_lll{    -webkit-animation: ticker-kf 40s linear infinite;
    animation: ticker-kf 40s linear infinite;    display: flex;
    width: 200vw;}

    .width_lll_1{ padding: 10px 0;   -webkit-animation: ticker-kf-even 40s linear infinite;    display: flex;
    width: 200vw;}

    .outlogoidv{    display: flex;text-align: center;width: 100%;}
    .slider_loo{width: calc(100% / 10);flex: none;align-self: flex-start; margin: 0 15px;} 
    .slider_effect .slider_loo img{height: 120px;width: 100%;margin: auto;object-fit: contain;object-position: center;}

.innerpages .header-area{/* position: relative; */}

@-webkit-keyframes ticker-kf{0%{transform:translateZ(0)}to{transform:translate3d(-100vw,0,0)}}@keyframes ticker-kf{0%{transform:translateZ(0)}to{transform:translate3d(-100vw,0,0)}}@-webkit-keyframes ticker-kf-even{0%{transform:translate3d(-100vw,0,0)}to{transform:translateZ(0)}}@keyframes ticker-kf-even{0%{transform:translate3d(-100vw,0,0)}to{transform:translateZ(0)}}

.work_mg{width: 100%;position: relative;clear: both;margin: 0;padding: 0;display: block; background: #FFF;}
.work_mg img{width: 100%;height: 380px;object-fit: contain;object-position: center;}
.work_mg span{position: absolute;bottom: 10%;color: #FFF;z-index: 9;font-size: 30px;font-weight: 500;text-transform: uppercase;left: 10%;font-family: Bauhausb Medium;}

.work_mg:hover:before {opacity: 1;}
.work_mg:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #1f1f1f), to(transparent));
    background: linear-gradient(to top, #1f1f1f 15%, transparent 100%);
    -webkit-transition: opacity 0.45s cubic-bezier(0.3, 0.95, 0.5, 1), -webkit-transform 0.45s cubic-bezier(0.3, 0.95, 0.5, 1);
    transition: opacity 0.45s cubic-bezier(0.3, 0.95, 0.5, 1), -webkit-transform 0.45s cubic-bezier(0.3, 0.95, 0.5, 1);
    transition: transform 0.45s cubic-bezier(0.3, 0.95, 0.5, 1), opacity 0.45s cubic-bezier(0.3, 0.95, 0.5, 1);
    transition: transform 0.45s cubic-bezier(0.3, 0.95, 0.5, 1), opacity 0.45s cubic-bezier(0.3, 0.95, 0.5, 1), -webkit-transform 0.45s cubic-bezier(0.3, 0.95, 0.5, 1);
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 1;
}

.train{ font-size: 100px; font-weight: 300; margin: 0px; white-space: nowrap; width: 200vw; }
.slider_effect.side1{ padding: 10px 0; }

footer{background: #000;display: block;width: 100%;clear: both;position: relative;padding: 50px 0;}
.scoalmedia{padding: 0;list-style: none;margin-bottom: 30px;}
.scoalmedia li{list-style-type: none;list-style-position: inside;position: relative;margin: 0 0 10px 0;display: inline-block;width: 49%;}
.scoalmedia li a{display: block;text-transform: capitalize;color: #d1d1d1;font-weight: 400;text-align: left;font-size: 16px;}
.scoalmedia li a i{margin-right: 10px;}
.scoalmedia li a:hover{ color: #FFF; }

.address_il{list-style-type: none;position: relative;padding: 0;margin-bottom: 40px;}
.address_il li{display: block;list-style-type: none;position: relative;}
.address_il li a{display: block;
    text-transform: unset;
    color: #d1d1d1;
    font-weight: 400;
    text-align: left;font-size: 16px;padding-left: 30px;position: relative;margin: 0 0 10px 0;}
.address_il li a i{position: absolute;left: 0px;width: 25px;text-align: center;height: 25px;font-size: 16px;line-height: 22px;}
.address_il li a:hover{ color: #FFF; }
.title_footer{}
.title_footer h3{margin: 0 0 20px 0;display: block;width: 100%;color: #FFF;font-family: Bauhausb Medium;font-size: 20px;font-weight: 500;text-transform: capitalize;}

.footerfro{display: block;width: 100%;position: relative;}
.footerfro input{width: 100%;margin: 0 0 10px 0;padding: 6px 10px;border-radius: 5px;border: 0;height: 38px;font-size: 14px;color: #000;}
.footerfro input:hover, .footerfro textarea:hover, .footerfro input:focus, .footerfro textarea:focus{ outline: 0px; }
.footerfro textarea{display: block;height: auto;width: 100%;
    margin: 0 0 10px 0;
    padding: 6px 10px;
    border-radius: 5px;
    border: 0;
    }

.newsll{position: relative;display: inline-block;width: auto;margin: 0 0 20px 0;}
.newsll input{width: 100%;
    margin: 0 0 10px 0;
    padding: 6px 10px;
    border-radius: 5px;
    border: 0;
    height: 38px;}
.newsll .inerbt{position: absolute;right: 0px;top: 0px;width: 38px;height: 38px;background: transparent;border: 0;font-size: 18px;color: #f36f21;}
.newsll .inerbt i{}
.withus{    display: inline-block;
    margin-right: 15px;}
.btntbn{padding: 6px 40px;font-size: 16px;font-weight: 500;color: #FFF;background: #f36f21;font-family: Bauhausb Medium;}
.btntbn:hover, .btntbn:focus{ outline: 0px; color: #FFF; border-radius: 0px; }
.copyrights{background: #000;display: block;padding: 20px 0;border-top: 1px solid #3e3e3e;text-align: center;color: #ccc;font-size: 16px;}
.copyrights p{margin: 0;}
.copyrights p a{color: #FFF;}
.bg_1{    background: url(../images/creative.jpg) no-repeat;}
.bg_2{    background: url(../images/creative1.jpg) no-repeat;}
.bg_3{    background: url(../images/creative2.jpg) no-repeat;}
.bg_4{    background: url(../images/creative3.jpg) no-repeat;}
.bg_brnad_1{    background: url(../images/brands.jpg) no-repeat;}
.bg_brnad_2{    background: url(../images/brand_2.jpg) no-repeat;}
.bg_brnad_3{    background: url(../images/brand_3.jpg) no-repeat;}
.bg_brnad_4{    background: url(../images/brand_4.jpg) no-repeat;}

.bg_media_1{    background: url(../images/media.jpg) no-repeat;}
.bg_media_2{    background: url(../images/media_2.jpg) no-repeat;}
.bg_media_3{    background: url(../images/media_3.jpg) no-repeat;}
.bg_media_4{    background: url(../images/media_4.jpg) no-repeat;}

.bg_events_1{    background: url(../images/events.jpg) no-repeat;}
.bg_events_2{    background: url(../images/events_2.jpg) no-repeat;}
.bg_events_3{    background: url(../images/events_3.jpg) no-repeat;}
.bg_events_4{    background: url(../images/events_4.jpg) no-repeat;}

.bg_webs_1{    background: url(../images/webs.jpg) no-repeat;}
.bg_webs_2{    background: url(../images/webs_2.jpg) no-repeat;}
.bg_webs_3{    background: url(../images/webs_3.jpg) no-repeat;}
.bg_webs_4{    background: url(../images/webs_4.jpg) no-repeat;}
.combg{    margin: 0px;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat;
    position: relative;}

    .sevice{background: url(../images/slider-services-background.jpg) no-repeat #000;background-size: cover !important;background-attachment: fixed !important;}

    /* Add an active class to the active dropdown button */
.active {
  background-color:#000;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: transparent;
  padding-left: 0;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  
  text-decoration: none;
  
  color: #fff;
  
  transition: 0.3s;
font-family: Bauhausb Medium;font-size: 18px;border-bottom: 2px solid #747474;padding: 8px 20px;display: block;margin: 0;}

.sidenav a:hover {
  color: #f1f1f1;
}


.mobile_menu_click{ display: none; }


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  
  
font-size: 20px;color: #fff;font-family: Bauhausb Medium;font-weight: 300;border: 0;padding: 10px 0 0 0;margin: 0;}

@media screen and (max-height: 450px) {
  .sidenav {padding-top:60px;}
  .sidenav a {font-size: 18px;}
}

.qrcde img{    width: 100px;
    display: block;
    margin: 0 0 15px 0;}
.opennav_div div{display: block;width: 20px;background: #FFF;height: 2px;margin: 6px 6px;}
.opennav_div{    
    color: #FFF;
    cursor: pointer;
    float: right;
    border: 2px solid #FFF;margin: 28px 0;border-radius: 0;}

     .sidenav .dropdown-btn{background: transparent;color: #fff;
    transition: 0.3s;
    font-family: Bauhausb Medium;
    font-size: 18px;
    border-bottom: 2px solid #747474;
    padding: 8px 20px;
    display: block;text-align: left;border-left: 0;border-right: 0;width: 100%;border-top: 0;-webkit-appearance: unset;}
    .sidenav .dropdown-btn i{}
    .sidenav .dropdown-container{background: #2a2a2a;}
    .sidenav .dropdown-container a{background: transparent;padding: 6px 20px;font-size: 17px;}
    .navbar-toggle{ display: none; }
    .span_contact:hover, .span_contact:focus{ text-decoration: none; }
    .span_contact{ bottom: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(50%);z-index: 999;}
    .span_contact .arrow_svg{margin: 0;display: block;width: 100%;float: left;margin-bottom: 10px;}
.span_contact .arrow_svg img{ float: right; }
.inner_spancon{transition-duration: .5s;background: #f36f21;z-index: 99;padding: 6px 10px;text-align: left;font-size: 16px;text-transform: uppercase;font-weight: 500;color: #FFF;font-family: Bauhausb Medium;width: 170px;display: block;height: 69px;}
.inner_spancon:hover {
    transform: rotate(-16deg) scale(1.05);
}



.comments-space1{ max-height: 500px; overflow-y: scroll;}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.comments-space1{     text-align: center;}
.comments-space1 p{ padding-right:20px;}
.comments-space, .comments-space1 {
    font-size: 23px;
    font-weight: 400;
    color: #FFF;
    max-width: 70%;
    font-family: Avenirnext;
    margin: auto auto 0 auto;
    line-height: 32px;
    min-height: 50px;
    height: auto;
    text-shadow: 4px 3px 3px #000000bd;
    max-height: auto;
    overflow: auto;
    overflow-y: auto;
    padding: 0 30px 0 0;
}



/* width */
.comments-space::-webkit-scrollbar, .comments-space1::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.comments-space::-webkit-scrollbar-track, .comments-space1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff; 
  border-radius: 5px;
}
 
/* Handle */
.comments-space::-webkit-scrollbar-thumb , .comments-space1::-webkit-scrollbar-thumb {
  background: #eb7a24; 
  border-radius: 5px;
}

/* Handle on hover */
.comments-space::-webkit-scrollbar-thumb:hover, .comments-space1::-webkit-scrollbar-thumb:hover {
  background: #eb7a24; 
}


.morelink:hover, .morelink:focus, .aboulinks:hover, .aboulinks:focus{ text-decoration: none; color: #FFF; }
.morelink, .aboulinks{    color: #efefef;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #efefef;
    padding-bottom: 2px;}
.remaining-content span {
    display:block;
}

.breadcumlisting {
    background-color: #565656;
    padding: 10px 0px 10px 0px;
    position: relative;
    clear: both;
    display: block;
    width: 100%;
}
.breadcumlisting .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.breadcumlisting .breadcrumb li {
    color: #FFF;
background: transparent;font-family: Bauhausb Medium;}
.breadcumlisting .breadcrumb li a {
    
    font-weight: 500;
    color: #f36f21;
    clear: both;
    display: inline-block;
font-family: Bauhausb Medium;}

.portfolio_div {
    background-color: #FFFFFF;
    padding: 15px 40px;
    position: relative;
}
.modal-body .form-control {
    height: 40px;
        font-family: Bauhausb Medium; font-weight: 400;
}
.modal-title, .modal-title .modal-body label{font-family: Bauhausb Medium; font-weight: 500;}
.btndiv_llrr {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f36f21;
    text-align: center;
    line-height: 38px;
    font-size: 30px;
    color: #FFF;
    border-radius: 4px;
    top: 5%;
}
.right_icon {
    right: 0px;
}
.left_icon {
    left: 0px;
}
.details_portfolio {
    padding: 40px 0px;
    background-color: #000;
    width: 100%;
    display: block;
    border: 0px;
    position: relative;
    margin: 0px;
}
.portfolio_div {
    background-color: #000;
    padding: 15px 60px;
}
.details_portfolio{background-color: #000;}
.innerslider {
    width: 100%;
    background-color: #000;
    display: block;
    clear: both;
    margin: 0px 0 20px 0;
    padding: 0px;
    position: relative;
}
.innerslider img {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    width: 100%;
    height: 500px;
    border-radius: 4px;
   background: #000;
	border: solid 1px #fff;
}
.btndiv_llrr a{ color: #FFF; }
.btndiv_llrr a:hover, .btndiv_llrr a:focus{ color: #FFF; }
.details_portfolio p{ font-size: 18px; font-weight: 400; color: #FFF; display: block; margin: 0 0 15px 0; line-height: 27px;}
.details_portfolio h3 {
    font-size: 30px;    font-family: Bauhausb Medium;
    color: #FFF;
    font-weight: 500;
    margin: 0px 0px 15px 0px;
    clear: both;
    display: block;
    text-transform: capitalize;
    text-align: left;
}
.inner_catgeory{display: block;margin: 0 0 30px;display: block;width: 100%;text-align: center;}
.inner_catgeory li{position: relative;display: inline-block;}
.inner_catgeory li a{font-family: Bauhausb Medium;font-size: 17px;font-weight: 500;color: #FFF;border-radius: 0;border: 1px solid #f1f1f1;padding: 4px 10px;letter-spacing: 0.5px;margin-right: 15px;}
.inner_catgeory li a:hover, .inner_catgeory li a:focus{ border:1px solid #f36f21; color: #f36f21; }
.innerlogo{position: absolute;
    top: 50%;
    left: 0;
    background: #2c220e;z-index: 9;padding: 15px;}
.innerlogo img{width: 138px;}
.main-slider-top .innerlogo img{width: 230px;}
.aboutbg{background: url('../images/boutbg.jpg') no-repeat;background-size: cover !important;background-attachment: fixed !important;}

.scrollup:hover{ background-color: #f36f21; }
.qrcde{       display: inline-block;
    float: left;
    margin-right: 40px;}
.goolemap{    display: inline-block;
    float: left;
    margin-top: -28px;}
.goolemap span{        display: block;
    color: #FFF;
    font-size: 16px;
    font-family: Bauhausb Medium;
    text-align: center;
    margin: 0 0 5px 0;}
    .mainslider_js .owl-prev, .mainslider_js .owl-next, .works .owl-prev, .works .owl-next{padding:0px 7px !important;}
    .header-area.affix{ position: fixed; left: 0px; width: 100%; right: 0px;}
    .services_ccco h3 span{    margin: 20px 0 15px 0;
    font-size: 50px;
    color: #FFF;
    font-weight: 600;
    font-family: Bauhausb Medium;
    letter-spacing: 3px;
    text-shadow: 4px 3px 3px #000000bd;
    display: block;
}

/**070922***/
.services_ccco h2 {
    font-size: 35px !important;

}

.services_ccco h4 {
    font-size: 27px !important;
}

.morelink, .morelink.less {display: none;}

/******191022***/
.scrollmagic-pin-spacer .section.combg::before, .commondiv::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(0,0,0,0.5);
}

.container.he100, .commondiv .container {position: relative; z-index: 3;}


