

@import url("css1/shortcodes.css");




			
	h1.big-title {
		font-size: 120px;
		line-height: 140px;
		margin-left: 0;
		margin-top: -20px;
	margin-bottom: 0;}
	


@media only screen and (max-width: 1024px) {
	
	h1.big-title {
		font-size: 72px;
		line-height: 90px;
	}
	
	
	
	
	
}


@media only screen and (max-width: 767px) {	
	
	h1.big-title{
		font-size:60px;
		line-height: 76px;
	}
	
	
	
	.full.row_padding_all {
		padding-top: 4vw;
		padding-bottom: 4vw;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	hr {
		height: 20px;
	}
	

	
	
	
}


@media only screen and (max-width: 479px) {	
	
		
	h1.big-title{
		font-size: 48px;
		line-height: 64px;
	}
	

}


